/*.bv_browseSdfFile form.fileupload div.row.fileupload-buttonbar div.span7.bv_manualFileSelect{*/
    /*padding-left:0px !important;*/
/*}*/

.bv_detectedSdfPropertiesList.readError{
    color:red;
}

.bv_fileTableController{
    margin-bottom:15px;
}

.bv_fileTableController.well{
    background:#FFFFFF;
    text-align: center;
    font-weight: bold;
    margin-bottom:0px;
}

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-download.fade.in td{
    border-top-width:0px;
    margin-bottom:100px;
    padding-top:5px;
}

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-download.fade.in td.name{
    padding-left:0px;
    /*width:330px;*/
}

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-download.fade.in td.size{
    width:100px;
    text-align: right;

}

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-download.fade.in td.delete{
    padding-top:2px;
    padding-right:0px;
}
.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-download.fade.in td.preview{
    display:none;
}

.bv_browseSdfFile form.fileupload div.row.fileupload-buttonbar {
    margin-left:0px;
}

.bv_browseSdfFile form.fileupload div.row.fileupload-buttonbar div.span7.bv_manualFileSelect{
    padding-left:0px !important;
    margin-left:0px !important;
}

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-upload.fade.in td{
    border-top-width:0px;
    margin-bottom:100px;
    padding-top:5px;
}
.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-upload.fade.in td.preview {
    display: none;
}

/*.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-upload.fade.in td.size {*/
    /*display: none;*/
/*}*/

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-upload.fade.in td.cancel button.btn.btn-warning.bv_cancelFile{
    padding: 3px 9px;
    font-size: 12px;
    line-height: 18px;
}

.bv_browseSdfFile form.fileupload table.table.bv_fileInfo tbody.files tr.template-upload.fade.in td.cancel button.btn.btn-warning.bv_cancelFile i.icon-ban-circle.icon-white{
    display:none;
}
