.Rproj.user
*.Rproj
.Rhistory
.RData
!.RData
ACAS.Rproj
acas-host3.Rproj
.Rapp.history
Gruntfile.js
.idea/*
conf/compiled/*
r_libs
acas_custom
node_modules
privateUploads
privateTempFiles
acas.log
racas.log
public/src/conf/conf.js
bin/*.pid
bin/mpm-accept.*
bin/rewrite-map.*
Dockerfile*
docker-compose*.yml
build
licenses
#this is for the soft link in .dockerfile (git ignore .git by default)
.git
