version: '2'
services:
  acas:
#    build: .
    image: mcneilco/acas-oss:${ACAS_TAG}
    restart: always
    ports:
     - "3000:3000"
     - "3001:3001"
     - "5858:5858"
    environment:
     - APP_NAME=ACAS-OPEN
     - PREPARE_MODULE_CONF_JSON=true
     - PREPARE_CONFIG_FILES=true
     - RUN_SYSTEM_TEST=false
     - DOCKER_HOST_IP=localhost
     - NODE_ENV=integration
    volumes:
     - filestore:/home/runner/build/privateUploads
     - logs:/home/runner/logs
     - /home/runner/build/bin
     - /home/runner/build/src/r
     - /home/runner/build/conf
    # Add chemaxon marvinjs here
    # - ./chemaxon/marvinjs:/home/runner/build/public/CmpdReg/marvinjs
    # Add schrodinger maestro sketcher here
    # - ./schrodinger/sketcher_wasm_mmshare_21-4_074:/home/runner/build/public/CmpdReg/maestrosketcher
     # Please add any dev volumes below this line
     - ./:/home/runner/acas
     # - ./modules/BuildUtilities/:/home/runner/acas/modules/BuildUtilities
    env_file:
      - ./.env
# Dev Command
    command: ["bin/acas.sh", "run", "acas", "dev"]
# Start command
#    command: ["bin/acas.sh", "run", "acas", "start"]
  rservices:
    image: mcneilco/racas-oss:${ACAS_TAG}
    restart: always
    ports:
     - "1080:1080"
    environment:
     - PREPARE_MODULE_CONF_JSON=false
     - PREPARE_CONFIG_FILES=true
    volumes_from:
     - acas
    volumes:
      - filestore:/home/runner/build/privateUploads
      - logs:/home/runner/logs
    command: ["bin/acas.sh", "run", "rservices"]
  db:
    image: mcneilco/acas-postgres:release-1.13.7
    restart: always
    volumes:
     - dbstore:/var/lib/postgresql/data
    ports:
     - "5432:5432"
  roo:
    image: mcneilco/acas-roo-server-oss:${ACAS_TAG}-indigo
    restart: always
    depends_on:
     - db
    ports:
     - "8080:8080"
     - "8000:8000"
    environment:
     - ACAS_HOME=/home/runner/build
     - CATALINA_OPTS=-Xms512M -Xmx1024M -XX:MaxPermSize=512m -Dlisten.address=$${TOMCAT_LISTEN_ADDRESS}
     - JAVA_OPTS=-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=*:8000
     - TOMCAT_LISTEN_ADDRESS=0.0.0.0
    volumes_from:
     - acas
    command: /bin/bash ./wait-for-it.sh -t 1000 db:5432 -- catalina.sh run
volumes:
  dbstore:
  filestore:
  logs:
