/* TODO: fix button click color */

.body {
  margin-bottom: 60px !important;
  min-height: 100% !important;
  background-color: yellow;
}

.acasContent {
  margin: 80px 65px 20px 65px;
}

.navbar {
  -webkit-box-shadow: 0 5px 10px -5px;
  -moz-box-shadow: 0 5px 10px -5px;
  box-shadow: 0 5px 10px -5px;
}

.navbar-default {
  background-color: #3C4656 !important;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #E9E9E9;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #57657C;
}

.adminOptions {
  margin-left: 500px;
}

.btn-default {
  border-color: #B2B2B2;
}

.btn-primary {
  background-color: #3C4656;
  border-color: #2E3643;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #536177 !important;
  border-color: #2E3643 !important;
}

.btn-primary:active:focus {
  background-color: #536177 !important;
  border-color: #2E3643 !important;
}

.btn-primary.active.focus {
  background-color: #536177 !important;
  border-color: #2E3643 !important;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover {
  background-color: #536177;
  border-color: #2E3643;
}

.btn-warning {
  background-color: #3C4656;
  border-color: #2E3643;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  background-color: #2E3643 !important;
  border-color: #2E3643 !important;
}

.btn-danger {
  background-color: #AB3536;
  border-color: #983033;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  background-color: #C03C40 !important;
  border-color: #983033 !important;
}

.acasLogout {
  margin-right: 15px !important;
  margin-left: 15px;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #E9E9E9;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #E9E9E9;
}

.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-toggle {
  background-color: #3C4656;
  border-color: #2E3643;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle.active {
  background-color: #2E3643;
  border-color: #2E3643;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.moduleTitle {
  margin-top: 0;
  margin-bottom: 20px;
}

.well {
  background-color: #F6F6F6;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 15px 15px 15px 15px;
}

.SELBrowseButton {
  margin-right: 10px;
}

.acasTextSpacing {
  margin-bottom: 15px;
}

.acasBadges {
  margin-top: 8px;
}

.badge-error {
  background-color: #AB3536;
}

.badge-warning {
  background-color: #F68200;
}

.selNavigationNext {
  margin-left: 5px;
}

.SELSeuratButton {
  margin-right: 10px;
}

a {
  color: #3C4656;
}

a:hover, a:focus, a:active, a.active {
  color: #2E3643;
}

.center-block {
  text-align: center;
}

.acasSummaryStats {
  margin-bottom: 20px;
}

.acasGraph {
  background-color: #EBEBEB;
  height: 250px;
}

.acasGraphCaption {
  margin-left: 15px;
}

.label-success {
  font-size: 14px;
  font-weight: normal;
}

.acasTextarea {
  resize: none;
}

.footer {
  /*position: fixed;*/
  /*bottom: 0;*/
  width: 100%;
  height: 60px;
  background-color: #F6F6F6;
}

.footerText {
  margin-top: 25px;
  font-size: 12px;
  font-style: italic;
}

.acasDirtyIcon {
  margin-left: 3px;
}

.browserSearchBar {
  margin-bottom: 20px;
}

.browserSearchBarLabel {
  margin-right: 15px;
}

.browserSearchBarInput {
  width: 300px !important;
}

.table-hover tbody tr:hover td {
  background-color: #A4ADBD;
}

.acasBrowserButtons {
  margin-bottom: 20px;
  margin-left: 5px;
}

.acasButtons {
  margin-left: 5px;
}

.acasExperimentForm {
  padding-right: 0;
  padding-left: 0;
}

.requiredIcon {
  margin-right: 15px;
}

.nav-tabs {
  background-color: #FBFBFB !important;
}

.nav-tabs > li > a {
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-tabs > li > a:hover {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, nav-tabs > .active > a:focus {
  background-color: #F6F6F6 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* TODO: fix nav-tab rounded corners on active state */

.acasExperimentFileType {
  width: 300px !important;
}

.acasExperimentFileBrowse {
  padding-left: 0;
}
