<div class="row">
    <div class="col-sm-8 col-xs-offset-2">
        <h3 class="moduleTitle">Plate Registration</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-xs-offset-2">
        <h3 class="moduleTitle">New Plate</h3>
    </div>
</div>

<div class="row">
    <div class="well acasWell col-xs-8 col-xs-offset-2 form-horizontal">

        <div class="form-group">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="radio" name="template" value="plate" checked>&nbsp;Plate
                </label>
                <label style="padding-left: 1.5em;"  class="control-label">
                    <input type="radio" name="template" value="">&nbsp;Template
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                * Plate Size
            </label>
            <div class="col-sm-10">
                <select class="form-control" name="definition"></select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                * Plate Barcode
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="barcode" />
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Description
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"/>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary pull-right" name="submit" disabled>Start</button>
            </div>
        </div>
    </div>
</div>
