<div class="hide" name="warningMessages">
    <h5><p class="bg-warning"></p></h5>
</div>
<div class="hide" name="errorMessages">
    <h5><p class="bg-error">Error:</p></h5>
    <p>The barcode <a name="barcode" class="barcodeAlreadyUsedError" target="_blank"></a> has already been used.  Please go back and enter a different barcode.</p>

</div>
<div class="hide" name="plateCreatedSuccessfully">
    <h5 class="plateCreatedTitle">
      Plate created successfully: <span name="plateText"></span>
      <a href="" class="btn btn-primary editPlateButton" target="_blank" name="linkToPlate">Edit</a>
    </h5>
</div>
