<h5>Fill Patterns</h5>
<div class="form-group">
    <label class="control-label">Compound Batch ID</label>
    <div class="">
        <input type="text" class="form-control" name="identifiers" />
    </div>
</div>
<div class="form-group">
    <label class="control-label">Volume (uL)</label>
    <div class="">
        <input type="text" class="form-control" name="amount" />
    </div>
</div>
<div class="form-group">
    <label class="control-label">Conc. (mM)</label>
    <div class="">
        <input type="text" class="form-control" name="batchConcentration" />
    </div>
</div>
<div class="radio">
    <label>
        <input type="radio" class="editorTabRadio" name="fillPattern" value="checkerBoard1" checked="true"/> 2x2 checker board 1
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" class="editorTabRadio" name="fillPattern" value="checkerBoard2" /> 2x2 checker board 2
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" class="editorTabRadio" name="fillPattern" value="fillAllEmptyWells" /> Fill all empty wells
    </label>
</div>
<div class="form-group">
    <button class="btn btn-default pull-right" name="add">Add</button>
</div>