<div class="hide" name="warningMessages">
    <h4><p class="bg-warning">Warning: something happened...</p></h4>
</div>
<div class="hide" name="errorMessages">
    <h4><p class="bg-error">No plate with barcode "<span name="plateBarcode" style="font-weight: bold"></span>" could be found.</p></h4>
</div>
