<div class="row editorSpacing">
    <div class="col-sm-12">
        <h3 class="moduleTitle">Plate Registration</h3>
    </div>
</div>
<!-- EDITOR -->
<div class="row editorSpacing">
    <div name="editorFormTabViewContainer"></div>
    <div class="editorMain" name="plateViewContainer"></div>
</div>