<h5>Info</h5>

<div class="form">
    <div class="form-group">
        <label class="control-label">Plate Barcode</label>
        <div class="">
            <input type="text" class="form-control" name="barcode" value="<%= barcode %>" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <div class="">
            <input type="text" class="form-control" name="description" value="<%= description %>" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Plate Size</label>
        <div class="">
            <input type="text" class="form-control" placeholder="Automatic" disabled name="plateSize" value="<%= plateSize %>"/>
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Type</label>
        <div class="">
            <select class="form-control" name="type"></select>
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Status</label>
        <div class="">
            <select class="form-control" name="status"></select>
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Created Date</label>
        <div class="">
            <input type="text" class="form-control" name="createdDate" value="<%= createdDate %>" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Supplier</label>
        <div class="">
            <input type="text" class="form-control" name="supplier" value="<%= supplier %>" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default quadPinButton hide" name="createQuadPinnedPlate">Create Quad-Pinned Plate <span class="glyphicon glyphicon-th-large"></span></button>
    </div>
    <div class="form-group">
        <button class="btn btn-danger pull-right hide" name="delete">Delete</button>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" name="barcodeConflictErrorMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4><p class="bg-error">Error:</p></h4>
            </div>
            <div class="modal-body">
                <p>The barcode <a name="barcode" style="font-weight: bold;" target="_blank"></a> has already been used.  Please go back and enter a different barcode.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->