.editorNav {
  padding-right: 0;
  padding-bottom: 0;
  width: 65px;
}

.editorNavWell {
  width: 50px;
  height: 661px;
  padding: 0 !important;
  background-color: #E9E9E9 !important;
}

.editorNavCollapse {
  margin-left: 5px;
}

.editorCollapseButton {
  /*margin-top: 191px;*/
  margin-top: 312px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 40px;
  background-color: #E9E9E9;
}

.editorCollapseButton:hover, .editorCollapseButton:focus {
  background-color: #DFDFDF;
}

.editorTab {
  /*height: 100px;*/
}

.editorTab:hover, .editorTab:focus {
  background-color: #DFDFDF;
}

.editorTab:active, .editorTab.active {
  background-color: #DFDFDF;
}

.editorNavWell a {
  text-decoration: none;
}

.rotate {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1) !important;
}

.editorTabInfo {
  height: 64px;
  padding-top: 10px;
}

.editorTabAddContent {
  height: 122px;
  /*padding-top: 50px;*/
  padding-top: 30px;
}

.editorTabTemplate {
  height: 96px;
  padding-top: 42px;
}

.editorTabSerialDilution {
  height: 124px;
  /*padding-top: 48px;*/
  padding-top: 32px;
}

.editorTabInfoLink {
  /*width: 50px;
  padding-bottom: 50px;*/
}

.editorTabAddContentLink {
  width: 85px;
  padding-bottom: 35px;
  /*
  z-index: -1;
  */

}

.editorTabTemplateLink {
  /*width: 100px;
  padding-bottom: 100px;*/

  z-index: -1;

}

.editorTabSerialDilutionLink {
  width: 90px;
  padding-bottom: 40px;
  /*
  z-index: -1;
  */
}

.editorPanel {
  padding: 0;
  width: 250px;
}

.editorPanelWell {
  height: 661px;
}

.editorPanel h5 {
  margin-top: 0;
  margin-bottom: 15px;
}

.editorTabHelpIcon {
  color: #CFCFCF;
  font-size: 16px !important;
}

.quadPinButton {
  width: 220px;
}

.quadPinIcon {
  margin-left: 2px;
}

.downloadCSVButton {
  margin-right: 5px;
  width: 149px;
}

.editorTabTextarea {
  resize: none;
}

.editorTabRadio {
  margin-top: 3px !important;
}

.editorTabLabelSpecial {
  margin-bottom: 10px;
}

.editorTabLabelDirection {
  margin-bottom: 0;
}

.addContentTotal {
  font-weight: bold;
}

.cellsSelected {
  font-weight: bold;
}

.templateHeader {
  width: 100px;
}

.editorTabSeq {
  width: 222px;
  height: 34px;
  margin-bottom: 10px;
}

.editorTabSeqIDs {
  width: 94px;
}

.editorTabSeqIDsTo {
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 10px;
}

.editorTabFillSuboption {
  margin-left: 15px;
}

.editorTabNumOfDoses {
  width: 59px;
  margin-right: 10px;
}

.editorTabVolRadio {
  margin-top: 57px;
}

.editorTabTransferVol {
  width: 195px;
  margin-left: 5px;
}

.editorTabDestinationWellVol {
  width: 195px;
  margin-left: 5px;
}

.editorTabOr {
  margin-bottom: 10px;
}

.editorTabDilutionFactor {
  width: 195px;
  margin-left: 5px;
}

.editorMain {
  padding-left: 0;
  margin-left: 315px;
}

.toolbarWell {
  background-color: #E9E9E9 !important;
  width: 750px;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.toolbarButtons {
  /*margin-right: 10px;*/
}

.toolbarViewButtonFit {
  width: 130px;
}

.toolbarViewButton {
  width: 160px;
}

.toolbarViewButtonColor {
  width: 185px;
}

.toolbarViewButtonSmall {
  width: 62px;
}

.toolbarSmallText {
  font-size: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.editorHandsontable {
  margin-left: 0px;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  /*width: 800px;*/
  /*height: 600px;*/
}


.tabSelected {
  background-color: #fafafa !important;
}

.aliasedIdentifierCell {
  background-color: #fcf8e3 !important;
  border: solid 1px yellow;
}

.invalidIdentifierCell {
  background-color: #a94442 !important;
  color: #ffffff;
  border: solid 1px red;
}

/* jQuery UI overides */
.ui-widget{font-size:12px !important;}

.searchBarcode {
  padding-right: 5px;
}

.searchUser {
  padding-right: 5px;
  padding-left: 5px;
}

.searchDescription {
  padding-right: 5px;
  padding-left: 5px;
}

.searchPlateSize {
  padding-right: 5px;
  padding-left: 5px;
}

.searchRequestID {
  padding-right: 5px;
  padding-left: 5px;
}

.searchStatus {
  padding-right: 5px;
  padding-left: 5px;
}

.searchType {
  padding-left: 5px;
}

.searchButton {
  margin-bottom: 20px;
}

.searchErrorWell {
  margin-top: 0 !important;
}

.searchWarningWell {
  margin-top: 0 !important;
}

.searchInfoWell {
  margin-top: 0 !important;
}

.searchingHeader {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.mergePlatesInstructions {
  margin-bottom: 15px;
}

.plateNotFound {
  margin-left: 15px;
}

.plateInUse {
  margin-left: 15px;
}

.plateTooSmall {
  margin-left: 15px;
}

.errorWell {
  background-color: #F0D6D6 !important;
  color: #9B2226 !important;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
}

.warningWell {
  background-color: #FFE9D3 !important;
  color: #EB7703 !important;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
}

.infoWell {
  background-color: #E2EDEE !important;
  color: #3C4656 !important;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
}

.successWell {
  background-color: #D8EECE !important;
  color: #2E662C !important;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
}

.tableContainerSpacing {
  margin-left: 10px !important;
}

.plateCreatedTitle {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.editPlateButton {
  margin-bottom: 5px;
  margin-left: 5px;
}

/*.splitPlateModal {
  width: 800px;
}*/

.plateSplitTitle {
  margin-left: 15px;
}

.splitPlateLinks {
  margin-left: 15px;
}

.splitPlateLinksList {
  margin-left: 25px;
}

.splitPlateLinkEntries {
  margin-top: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.splitPlateSpacing {
  padding: 0 !important;
}

.splitPlateBarcodeSpacing {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.splitPlateQ {
  width: 25px;
}

.splitPlateEditButton {
  width: 52px;
}

.mergePlateTitle {
  margin-left: 15px;
}

.mergedPlateLink {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.editMergePlateButton {
  margin-bottom: 5px;
  margin-left: 5px;
}

.barcodeAlreadyUsedError {
  font-weight: bold;
}

.editorSpacing {
  margin-left: -55px !important;
}

.statusCounts {
  font-size: 12px;
  margin-top: 1px;
  margin-right: 2px;
}
