<!-- TOOLBAR -->

<div class="well acasWell toolbarWell">
    <div class="btn-group toolbarButtons" role="group">
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle toolbarViewButtonFit" data-toggle="dropdown" name="cellZoom">Fit to Screen <span class='caret'></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" name="showAll">Show All</a></li>
                <li><a href="#" name="fitToContents">Fit to Contents</a></li>
                <li><a href="#" name="fitToScreen">Fit to Screen</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle toolbarViewButton" data-toggle="dropdown" name="selectedView" >Compound View <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" name="compoundView">Compound View</a></li>
                <li><a href="#" name="volumeView">Volume View</a></li>
                <li><a href="#" name="concentrationView">Concentration View</a></li>
                <li><a href="#" name="masterView">Master View</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle toolbarViewButtonColor" data-toggle="dropdown" name="selectedColorBy">No Color <span class='caret'></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" name="colorByCompound">Color By Compound</a></li>
                <li><a href="#" name="colorByVolume">Color By Volume</a></li>
                <li><a href="#" name="colorByConcentration">Color By Concentration</a></li>
                <li><a href="#" name="colorByStatus">Color by Status</a></li>
                <li><a href="#" name="colorByNone">No Color</a></li>
            </ul>
        </div>
        <button class="btn btn-default toolbarViewButtonSmall toolbarSmallText" name="decreaseFontSize">AA</button>
        <button class="btn btn-default toolbarViewButtonSmall" name="increaseFontSize">AA</button>
        <button class="btn btn-default toolbarViewButtonSmall hide"><i class="fa fa-undo"></i></button>
        <button class="btn btn-default toolbarViewButtonSmall hide"><i class="fa fa-repeat"></i></button>
        <button class="btn btn-default toolbarViewButtonSmall" name="displayToolTips"><i class="fa fa-search-plus"></i></button>

    </div>
    <div class="statusCounts pull-right">
        <div data-toggle="tooltip" data-placement="left" title="When one or two fields are filled in but not all 3.  These wells are Ignored during analysis unless a side car provides their content."><span name="invalidWellCount"></span> Invalid</div>
        <div data-toggle="tooltip" data-placement="left" title="When all 3 fields are not filled in. These wells are Ignored during analysis unless a side car provides their content."><span name="emptyWellCount" ></span> Empty</div>
    </div>
    <!--<button class="btn btn-default">Save</button>-->
    <button class="btn btn-primary hide">Complete</button>

</div>


<div class="tableContainerSpacing">

        <div class="bv_tableContainer" name="plateTableContainer" style="height: 100%; width: 100%;">


        </div>
</div>
