<h5 class="pull-left">Serial Dilution</h5>
<div class="pull-right hide">
    <i class="fa fa-question-circle editorTabHelpIcon"></i>
</div>

<div class="form">
    <div class="form-group">
        <label class="control-label">Select Serial Dilution</label>
        <div class="">
            <select class="form-control">
                <option>Select from Template</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Number of Doses</label>
        <div class="">
            <input type="text" class="form-control pull-left editorTabNumOfDoses" style="padding-right: 5px; padding-right: 5px;" name="numberOfDoses" />
            <div class="btn-group" role="group">
                <button class="btn btn-default serialDilutionDirection" name="diluteUp"><i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-default active serialDilutionDirection" name="diluteRight"><i class="fa fa-arrow-right"></i></button>
                <button class="btn btn-default serialDilutionDirection" name="diluteDown"><i class="fa fa-arrow-down"></i></button>
                <button class="btn btn-default serialDilutionDirection" name="diluteLeft"><i class="fa fa-arrow-left"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="padding-right: 5px; padding-left: 5px;">
            <div class="radio pull-left editorTabVolRadio">
                <label>
                    <input type="radio" name="dilutionStrategy" value="volume" class="bv_volume" checked="true" />
                </label>
            </div>
        </div>
        <div class="col-md-10" style="padding-right: 5px; padding-left: 5px;">
            <div class="form-group pull-left editorTabTransferVol">
                <label class="control-label">Transfer Volume (uL)</label>
                <div class="">
                    <input type="text" class="form-control" name="transferVolume"/>
                </div>
            </div>
            <div class="form-group pull-left editorTabDestinationWellVol">
                <label class="control-label">Destination Well Volume (uL)</label>
                <div class="">
                    <input type="text" class="form-control" name="destinationWellVolume"/>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="form group">-->
        <!--<div class="editorTabOr"><span>Or</span></div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-1" style="padding-right: 5px; padding-left: 5px;">
            <div class="radio pull-left editorTabDilutionFactorRadio">
                <label>
                    <input type="radio" name="dilutionStrategy" value="dilutionFactor" class="bv_dilutionFactor" />
                </label>
            </div>
        </div>
        <div class="col-md-10" style="padding-right: 5px; padding-left: 5px;">
            <div class="form-group pull-left editorTabDilutionFactor">
                <label class="control-label">Dilution Factor</label>
                <div class="">
                    <input type="text" class="form-control" name="dilutionFactor" disabled />
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="form-group">
        <button class="btn btn-default pull-right" name="applyDilution">Apply Dilution</button>
    </div>
    <div class="form-group pull-right bv_errorMessages">error messages will go here</div>
</div>