<div class="row">
  <div class="col-sm-12">
    <h3 class="moduleTitle">Split Plates</h3>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="well well-small">
            <div class="row">
                <div class="form col-sm-12">
                    <div class="form-group has-feedback">
                        <label class="control-label">Source Plate Barcode<span class="plateNotFound hide" name="sourcePlateNotFound">Plate not found.</span><span class="plateTooSmall hide" name="sourcePlateTooSmall">Plate size is too small to split.</span></label>
                        <input type="text" class="form-control" name='sourcePlateBarcode' />
                        <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hide" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form col-sm-6">
                    <div class="form-group has-feedback">
                        <label>
                            Q1 <span name="plateQuadrant1_barcodeFound" class="plateInUse hide">
                            A plate with that barcode has already been registered: <a name="plateQuadrant1_existingPlateLink" target="_blank"></a>
                        </span></label>
                        <input type="text" class="form-control" name="plateQuadrant1" />
                        <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hide" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form col-sm-6">
                    <div class="form-group has-feedback">
                        <label>
                            Q2 <span name="plateQuadrant2_barcodeFound" class="plateInUse hide">
                            A plate with that barcode has already been registered: <a name="plateQuadrant2_existingPlateLink" target="_blank"></a>
                        </span></label>
                        <input type="text" class="form-control" name="plateQuadrant2" />
                        <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hide" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form col-sm-6">
                    <div class="form-group has-feedback">
                        <label>
                            Q3 <span name="plateQuadrant3_barcodeFound" class="plateInUse hide">
                            A plate with that barcode has already been registered: <a name="plateQuadrant3_existingPlateLink" target="_blank"></a>
                        </span></label>
                        <input type="text" class="form-control" name="plateQuadrant3" />
                        <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hide" aria-hidden="true"></span>
                    </div>

                </div>
                <div class="form col-sm-6">
                    <div class="form-group has-feedback">
                        <label>
                            Q4 <span name="plateQuadrant4_barcodeFound" class="plateInUse hide">
                            A plate with that barcode has already been registered: <a name="plateQuadrant4_existingPlateLink" target="_blank"></a>
                        </span></label>
                        <input type="text" class="form-control" name="plateQuadrant4"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hide" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" name="splitPlate">Split</button>
  </div>
</div>
<div class="row">
  <div name="duplicateBarcodeErrorMessage" class="col-sm-12 hide">
    <div class="well errorWell">
      Error: Destination Plate Barcodes must be unique.
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" name="splitPlateDialogBox">
    <div class="modal-dialog splitPlateModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="plateSplitTitle">Splitting Plate</h5>
                <div name="splitPlateLinks" class="splitPlateLinks hide">
                    Plate successfully split:
                    <div class="row">
                      <div class="col-sm-11 splitPlateLinksList">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="row">
                              <div class="splitPlateLinkEntries">
                                <span class="col-sm-2 splitPlateSpacing splitPlateQ">Q1: </span><span class="col-sm-8 splitPlateBarcodeSpacing" name="barcodeQuad1Plate"></span>&nbsp;&nbsp;<span class="col-sm-2 splitPlateSpacing splitPlateEditButton"><a class="btn btn-primary" target="_blank" name="linkToQuad1Plate">Edit</a></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="row">
                              <div class="splitPlateLinkEntries">
                                  <span class="col-sm-2 splitPlateSpacing splitPlateQ">Q2: </span><span class="col-sm-8 splitPlateBarcodeSpacing" name="barcodeQuad2Plate"></span>&nbsp;&nbsp;<span class="col-sm-2 splitPlateSpacing splitPlateEditButton"><a class="btn btn-primary" target="_blank" name="linkToQuad2Plate">Edit</a></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="row">
                              <div class="splitPlateLinkEntries">
                                  <span class="col-sm-2 splitPlateSpacing splitPlateQ">Q3: </span><span class="col-sm-8 splitPlateBarcodeSpacing" name="barcodeQuad3Plate"></span>&nbsp;&nbsp;<span class="col-sm-2 splitPlateSpacing splitPlateEditButton"><a class="btn btn-primary" target="_blank" name="linkToQuad3Plate">Edit</a></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="row">
                              <div class="splitPlateLinkEntries">
                                  <span class="col-sm-2 splitPlateSpacing splitPlateQ">Q4: </span><span class="col-sm-8 splitPlateBarcodeSpacing" name="barcodeQuad4Plate"></span>&nbsp;&nbsp;<span class="col-sm-2 splitPlateSpacing splitPlateEditButton"><a class="btn btn-primary" target="_blank" name="linkToQuad4Plate">Edit</a></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="hide" name="existingBarcodeErrorMessage">
                    <h5 class="bg-error">Error:</h5>
                    <ul name="duplicateBarcodes"></ul>
                    <!--<p>The barcode <a name="barcode" style="font-weight: bold;" target="_blank"></a> has already been used.  Please go back and enter a different barcode.</p>-->
                </div>
            </div>
            <div class="modal-footer">
                <span name="dialogDismissButtons" class="hide">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" name="closeMergePlateDialog">Close</button>
                </span>
                <span name="splitingStatus">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Cloning Plates</span>
                        </div>
                    </div>
                </span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
