.DataViewerAppController .bv_gidMainNavbar {
	margin-top: 0px !important;
}

.DataViewerAppController .chandaACAS {
    margin-left: 1px;
    padding-left: 9px;
}

.DataViewerAppController .logoutButton {
    margin-top: 0px !important;
}

.DataViewerAppController .navbar-inverse .brand:hover {
    color: #999999;
}

.DataViewerAppController .bv_gidACASBadge {
	margin-bottom: 10px;
}

.DataViewerAppController .bv_searchForm {
	margin-bottom: 0px !important;
}

.DataViewerAppController .bv_search {
	margin-top: 0px !important;
}

.DataViewerAppController .bv_toolbar {
	margin-bottom: 0px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.DataViewerAppController .gidNavWellTop {
	margin-top: 40px !important;
	margin-bottom: 0px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.DataViewerAppController .gidAdvancedNavSearchButtonStart {
    margin-top: 5px;
    margin-left: 15px;
}

.DataViewerAppController .gidAdvancedNavSearchButtonTop {
    margin-top: 0 !important;
		margin-left: 15px;
}

.DataViewerAppController .bv_gidACASBadgeTop {
    padding-top: 0;
	padding-right: 10px;
}

.DataViewerAppController .bv_gidNavHelpButton {
	margin-top: 0px !important;
}

.DataViewerAppController .bv_gidNavSettingsButton {
	margin-top: 0px !important;
}

.DataViewerAppController .noResultsWell {
	padding-left: 20px;
	margin-top: 100px;
}

.DataViewerAppController .resultsWell {
	margin-top: 100px !important;
}

.DataViewerAppController .bv_resultsView {
	margin: 15px !important;
}


.DataViewerAppController .bv_gidDownloadCSV {
    margin-bottom: 10px;
    margin-left: 1017px;
}

.DataViewerAppController .bv_downloadCSV {
    margin-left: 5px;
}

.DataViewerAppController .bv_addDataRequest{
    margin-bottom: 10px;
    margin-left: 1017px;
}

.DataViewerAppController .bv_gidDownloadCSVSimple {
    margin-bottom: 10px;
    margin-left: 987px;
}

.DataViewerAppController .bv_addDataRequestSimple{
    margin-bottom: 10px;
    margin-left: 1007px;
}

.DataViewerAppController .gidNamesHeader {
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #000000;
}

.DataViewerAppController .gidAdvancedSearchNavWellTop {
    margin-top: 40px !important;
    margin-bottom: 0px !important;
    height: 30px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.DataViewerAppController .gidAdvancedSearchNavbarTitle {
    margin-top: 6px;
    margin-left: 0;
}

.DataViewerAppController .gidAdvancedQueryContainerPadding {
    padding-top: 100px;
    padding-left: 75px;
}

.DataViewerAppController .gidAdvancedQueryWizardTitle {
    font-size: 18px;
    margin-left:0;
    margin-bottom: 10px;
}

.DataViewerAppController .gidAdvancedSearchSteps {
    font-size: 18px;
    width: 90px;
    margin-left: 580px;
    margin-bottom: 10px;
}

.DataViewerAppController .gidAdvancedSearchWell {
    width: 920px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
}

.DataViewerAppController .gidAdvancedSearchStepTitles {
    margin-top: 0;
}

.DataViewerAppController .bv_noExperimentsFound {
    margin-left: 0;
}

.DataViewerAppController .fiona {
    margin-left: 0;
    margin-bottom: 10px;
    width: 890px;
}

.DataViewerAppController .bv_codesField {
    width: 905px;
    resize: none;
}

.DataViewerAppController .gidFilterExperimentsInput {
    margin-bottom: 10px;
}

.DataViewerAppController .bv_searchVal {
    width: 838px;
}

.DataViewerAppController .bv_tree {
    margin-left: 0;
    margin-bottom: 10px;
}

.DataViewerAppController .gidAdvancedSearchTerms {
    margin-bottom: 10px;
}

.DataViewerAppController .bv_termName {
    margin-left: 10px;
    margin-right: 5px;
}

.DataViewerAppController .bv_experiment {
    margin-right: 5px;
}

.DataViewerAppController .bv_kind {
    margin-right: 5px;
}

.DataViewerAppController .bv_operator_number {
    margin-right: 5px;
    width:90px;
}

.DataViewerAppController .bv_operator_bool {
    margin-right: 100px;
    width:90px;
}

.DataViewerAppController .bv_operator_string {
    margin-right: 5px;
    width:90px;
}

.DataViewerAppController .bv_delete {
    margin-top: 3px;
    margin-right: 8px;
}

.DataViewerAppController .gidAdvancedSearchTermsWell {
    background-color: #FFFFFF;
    width: 900px;
    margin-left: 0;
    margin-bottom: 10px;
}

.DataViewerAppController .gidAdvancedSearchBooleanFilter {
    margin-left: 0;
    margin-bottom: 10px;
}

.DataViewerAppController .radioAnd {
    padding-left: 10px !important;
}

.DataViewerAppController .radioOr {
    padding-left: 25px !important;

}

.DataViewerAppController .radioTrue {
    padding-left: 15px !important;
		padding-top: 8px ;
}
.DataViewerAppController .radioFalse {
		padding-top: 8px ;
		padding-left: 1px;
}

.DataViewerAppController .aggregationRadios {
		margin-top: 3px !important;
		margin-right: 5px !important;
}

.radioAdvancedFilter {
    padding-left: 25px !important;
}

.DataViewerAppController .booleanRadios {
    margin-right: 5px !important;
    margin-top: 3px!important;
}

.DataViewerAppController .bv_advancedBoolContainer {
    margin-left: 0;
    margin-bottom: 5px;
}

.DataViewerAppController .bv_advancedBooleanFilter {
    width: 905px !important;
}

.DataViewerAppController .gidAdvancedSearchButtons {
    padding-left: 587px;
}

.DataViewerAppController .gidAdvancedSearchButtonsNewQuery {
    padding-left: 730px;
}

.DataViewerAppController .gidAdvancedSearchButtonsStepThree {
    padding-left: 717px;
}

.DataViewerAppController .bv_hidden{
		display: none !important;
}

.DataViewerAppController .gidAdvancedSearchButtonsResultsView {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 958px;
}

.DataViewerAppController .aboutACAS {
    margin-top: 0;
}

.DataViewerAppController .helpLinks {
    margin-top: 10px;
    margin-left: 185px;
}

.DataViewerAppController .container {
    margin-left: 0px !important;
    margin-right:0px !important;
}

.DataViewerAppController .bv_advancedQueryContainer{
    padding-right: 30px !important;
}

/*Properties so that curves display at a readable size*/
.DataViewerAppController .curveId{
    min-width: 380px !important;
		text-align: center;
}

.DataViewerAppController .referenceCode{
    min-width: 180px !important;
}

.DataViewerAppController .fileValue{
    min-width: 200px !important;
		text-align: center;
}

.DataViewerAppController .center{
    min-width: 50px;
}

.DataViewerAppController .bv_headerCell{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

body .DataViewerAppController .bv_addDataModal{
		width: 60% !important;
    margin-left: -30% !important;
		max-height: 80% !important;
}

.DataViewerAppController .bv_displayNameSelect{
    margin-top: 10px;
}
