<script type="text/template" id="ComponentSimpleSearchView" xmlns="http://www.w3.org/1999/html">
    <div class="navbar" style="margin-bottom: 0px; ">
        <div class="navbar-inner" style="border-bottom-left-radius:	0px; border-bottom-right-radius:	0px;">
            <!-- <form class="navbar-search pull-left"> -->
            <div class="control-group" style="margin-top: 5px; margin-bottom: 5px;">
                <div class="input-append">
                    <input class="bv_componentSearchTerm" style="
							padding-right: 14px;
							border-top-left-radius: 15px;
							border-bottom-left-radius: 15px;
							" type="text" placeholder="Search for components">
                    <button class="btn bv_doSearch add-on" style="
							border-top-right-radius: 15px;
							border-bottom-right-radius: 15px;
							height: 30px;
							margin-top: 0px;
							background-color: #fff;
							border-left: 0px;
							border-bottom: 1px solid #cccccc;
							border-right: 1px solid #cccccc;
							border-top: 1px solid #cccccc;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
              width: 2.5em; padding-right: 0.8em;transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;" type="button" disabled>
                        <i class="icon-search bv_doSearchIcon"></i>
                        <i class="icon-remove bv_clearSearchIcon hide"></i>
                    </button>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>

</script>


<script type="text/template" id="ComponentRowSummaryView" xmlns="http://www.w3.org/1999/html">
    <td class='bv_componentCode' style="width: 125px;"><%= componentCode %></td>
    <td class='bv_componentKind' style="width: 80px;"><%= componentKind %></td>
    <td class='bv_componentName' style="width: 200px;"><%= componentName %></td>
    <td class='bv_scientist' style="width: 125px;"><%=scientist%></td>
    <td class='bv_completionDate' style="width: 80px;"><%= moment(completionDate).format("YYYY-MM-DD") %></td>
</script>

<script type="text/template" id="ComponentSummaryTableView" xmlns="http://www.w3.org/1999/html">
    <table class="table table-bordered table-striped table-hover" style="margin: 0px; padding: 0px; border: 0px; width: 100%; ">
        <thead style="">
        <tr>
            <th>Batch ID</th>
            <th style="width:150px;">Component Type</th>
            <th>Name</th>
            <th>Scientist</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody style="">

        </tbody>
    </table>
</script>


<script type="text/template" id="ComponentBrowserView" xmlns="http://www.w3.org/1999/html">

    <div class="bv_componentSearchController" style="padding-bottom: 0px;"></div>
    <div class="" style=" border: 1px solid #d4d4d4; border-top: 0px; margin: 0px; padding: 0px; ">

        <div class="bv_searchStatusIndicator" style="height: 280px;">
            <table width="100%">
                <thead>
                <tr><td style="display: none;">placeholder</td></tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: center; width: 100%; align-content: center; height: 250px;">
                        <h5 class="bv_noMatchesFoundMessage hide">No Matching Components Found</h5>
                        <h5 class="bv_errorOccurredPerformingSearch hide">An error occurred while searching for the component.</h5>

                        <div class="bv_componentBrowserSearchInstructions">
                            <i class="icon-search bv_doSearchIcon"></i>
                            Component Browser
                        </div>
                        <div class="hide bv_searchingMessage" style="margin: auto;">
                            <h5>Searching for Components containing text "<i class="bv_searchTerm"></i>"</h5>
                            <div class="progress progress-striped active " style="width: 90%; margin: auto;">
                                <div class="bar" style="width: 100%; margin: auto;"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="bv_componentTableController hide" style="margin: 0px; padding: 10px; overflow: auto; height: 280px; overflow: auto;"></div>
    </div>
    <!--
    <h5>Selected Component Details</h5>
    -->
    <div class="well well-small bv_componentControllerContainer hide" style="margin-top: 10px;">
        <!--<button class="btn btn-danger bv_deleteComponent">Delete</button>-->
        <button class="btn btn-success bv_duplicateParent pull-right" style="margin-left: 0.5em;">Duplicate Parent</button>
        <button class="btn bv_editComponent pull-right">Edit</button>
        <div class="bv_componentController hide"></div>
    </div>

    <div class="modal hide bv_confirmDeleteComponent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Delete Component</h3>
        </div>
        <div class="modal-body">
            <div class="bv_deleteWarningMessage">
                <p>Are you sure you would like to delete component: <span class="bv_componentCodeName"></span>?</p>
            </div>
            <div class="bv_deletingStatusIndicator hide">
                <table width="100%"></table>
                <tr>
                    <td style="text-align: center; width: 100%">
                        <h4>Deleting Component</h4>
                        <div class="progress progress-striped active" style="width: 100%;">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </td>
                </tr>
            </div>
            <div class="bv_componentDeletedSuccessfullyMessage hide">
                <p>Component <span class="bv_componentCodeName"></span> has successfully been deleted</p>
            </div>
            <div class="bv_errorDeletingComponentMessage hide">
                <p>An error occurred deleting Component <span class="bv_componentCodeName"></span>.  Please contact support for additional help.</p>
            </div>
        </div>
        <div class="modal-footer">
		    <span class="bv_deleteButtons">
		      <a href="#" class="btn btn-danger bv_confirmDeleteComponentButton">Delete Component</a>
		      <a href="#" class="btn btn-primary bv_cancelDelete">Cancel</a>
			  </span>
		    <span class="bv_okayButton hide">
			    <a href="#" class="btn btn-primary bv_cancelDelete">Okay</a>
		    </span>
        </div>
    </div>
</script>