<script type="text/template" id="ModuleLauncherMenuView">
    <!-- TODO fix disabled menu items -->
    <!-- TODO fix spinner wobble -->
    <li class="nav-item">
      <a class="nav-link bv_menuName" href="#">
        <%= menuName %>
        <span class="badge badge-pill badge-info bv_isLoaded"><i class="fas fa-circle-notch fa-spin"></i></span>
        <span class="badge badge-pill badge-warning bv_isDirty"><i class="fas fa-edit"></i></span>
        <span class="badge badge-pill badge-secondary bv_isLocked"><i class="fas fa-lock"></i></span>
      </a>
      <span class="bv_menuName_disabled hide"><%= menuName %></span>
    </li>
</script>

<script type="text/template" id="ModuleLauncherMenuListView">
  <div class="bv_expandControls">
    <btn class="btn btn-light bv_expandAll">
      <img class="expandControlsIcon" src="/img/expand_modules.png" />
    </btn>
    <btn class="btn btn-light bv_collapseAll hide">
      <img class="expandControlsIcon" src="/img/collapse_modules.png" />
    </btn>
  </div>
  <ul class="bv_navList nav flex-column">

  </ul>
</script>

<script type="text/template" id="ModuleLauncherMenuCollapsibleHeaderView">
    <div class="bv_moduleCategory nav-header">
      <span class="bv_caret bv_caret_expand"><i class="fas fa-caret-down"></i></span>
      <span class="bv_caret bv_caret_collapse hide"><i class="fas fa-caret-up"></i></span>
    </div>
    <div class="bv_modules hide"></div>
</script>

<script type="text/template" id="ModuleLauncherView">
    <div class="bv_moduleContent"></div>
</script>

<script type="text/template" id="ModuleLauncherListView">
    <div class="bv_moduleWrapper"></div>
</script>
