<script type="text/template" id="ModuleLauncherMenuView">
    <span>
        <a class="bv_menuName" href="#"><%= menuName %></a>
        <span class="bv_menuName_disabled muted hide"><%= menuName %></span>
        <i class="bv_isLoaded icon-pencil"></i>
        <i class="bv_isDirty icon-asterisk"style="margin-top: 2px;"></i>
        <i class="bv_isLocked icon-lock"style="margin-top: 2px;"></i>
    </span>
</script>

<script type="text/template" id="ModuleLauncherMenuListView">
    <ul class="bv_navList nav nav-list">
    </ul>
</script>

<script type="text/template" id="ModuleLauncherView">
    <div class="bv_moduleContent"></div>
</script>

<script type="text/template" id="ModuleLauncherListView">
    <div class="bv_moduleWrapper"></div>
</script>

