body {
  padding-top: 56px;
  padding-right: 0;
  padding-bottom: 35px;
  padding-left: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bv_username {
  color: #ffffff;
}

.bv_fastUserSelect {
  width: 150px !important;
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
  margin-left: 10px;
}

.bv_userInfo select2-hidden-accessible {
  display: none;
}

.bv_userInfo .select2-container {
  width: 175px !important;
}

.bv_userInfo .select2-container .select2-selection--single {
  width: 175px;
  height: 30px;
  border-color: #ffffff;
  background-color: transparent;
  margin-left: 10px;
}

.bv_userInfo .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ffffff;
}

.bv_userInfo .select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}

.bv_logout {
  margin-left: 10px;
}

/* if modules are cut off the bottom of the window, expand the bottom padding; default is 100px */
.bv_navList {
  padding: 16px 20px 100px 20px;
  width: 245px;
}

.bv_moduleMenuComponent {
  position: fixed;
  /* top: 56px; */
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
}

.bv_moduleMenuComponent .nav-link {
  padding: 3px 10px 3px 10px;
  color: rgba(0,0,0,.65);
}

.bv_moduleMenuComponent .nav-link:hover {
  color: #007bff;
}

.bv_moduleMenuComponent .nav-link:active {
  color: #007bff;
}

.bv_modLaunchMenuWrapper .active .nav-link {
  /* font-weight: bold; */
  color: #007bff !important;
}

.bv_menuName {
  font-size: 14px;
}

.bv_isLoaded {
  padding: 4px 10px 4px 9px;
}

.bv_isDirty {
  padding: 4px 8px 4px 10px;
}

.bv_isLocked {
  padding: 4px 10px 4px 10px;
}

.nav-header {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  /* color: #99979c; */
  color: #000000;
  margin: 16px 10px 3px 10px;
}

/* TODO fix colors of active module to read better */

.bv_deployMode {
  color: #ffffff !important;
  font-weight: bold;
  margin-right: 10px;
}

.acasWrapper {
  margin-left: 245px;
  padding: 20px;
}

.acasWrapper textarea {
  resize: none;
}

.card {
  -webkit-box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

/*code to overwrite the 0 opacity from the fade class*/
.acasWrapper .template-download {
  opacity: 1;
}

.bv_copyrightWrapper {
  padding-right: 0;
  padding-left: 0;
  margin-left: 245px;
  background-color: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f8f9fa;
}

.bv_copyrightMessage {
  font-size: 12px;
  color: #99979c;
  padding-left: 20px;
}




/* old css */

.mainModuleWell {
    background-color:white;
}

.dataTableRow {
	cursor: pointer;
}

.rowSelected {
	background-color: green;
}

.bv_showModuleMenuControl, .bv_hideModuleMenuControl {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB ;
    padding: 2px 5px 5px 5px;
}

.bv_toggleModuleMenuControl {
    padding-top: 8px;
    margin-right: 5px;
}
/*.bv_GenericDataParserController {

    background-color: yellow;
}

.bv_GenericDataParserController template-upload {

   background-color: purple;
}

.bv_DocForBatchesController {
    background-color: blue;
}

.bv_BulkLoadContainersFromSDFController {
    background-color: red;
}

.bv_BulkLoadSampleTransfersController {
    background-color: green;
}*/

.bv_collapsibleHeaderController .bv_caret {
    margin-left: 5px;
    /*border-bottom-color: #999999;*/
}

/* .bv_collapsibleHeaderController .bv_modules {
    list-style-type: none;
    margin-left: 15px;
} */
.bv_collapsibleHeaderController .bv_moduleCategory {
    cursor: pointer;
}

.bv_modLaunchMenuWrapper {
    /* width: 267px; */
}
.bv_modLaunchMenuWrapper .bv_menuItem {
    /* margin-top: 3px; */

    /*margin-bottom: 5px;*/
}

.bv_notTopHeader {
    /* margin-top: 5px; */
}

.bv_expandAll, .bv_collapseAll {
    width: 12px;
    position: absolute;
    top: 75px;
    left: 265px;
}
