body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.mainModuleWell {

    background-color:white;
}

.dataTableRow {
	cursor: pointer;
}

.rowSelected {
	background-color: green;
}

.bv_modLaunchMenuWrapper .active {
    font-weight: bold;
}

.bv_showModuleMenuControl, .bv_hideModuleMenuControl {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB ;
    padding: 2px 5px 5px 5px;
}

.bv_hideModuleMenuControl {
    margin-top: 10px;
    margin-right: 10px;
}

/*.bv_GenericDataParserController {

    background-color: yellow;
}

.bv_GenericDataParserController template-upload {

   background-color: purple;
}

.bv_DocForBatchesController {
    background-color: blue;
}

.bv_BulkLoadContainersFromSDFController {
    background-color: red;
}

.bv_BulkLoadSampleTransfersController {
    background-color: green;
}*/