body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.mainModuleWell {

    background-color:white;
}

.dataTableRow {
	cursor: pointer;
}

.rowSelected {
	background-color: green;
}

.bv_modLaunchMenuWrapper .active {
    font-weight: bold;
}

.bv_showModuleMenuControl, .bv_hideModuleMenuControl {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB ;
    padding: 2px 5px 5px 5px;
}

.bv_toggleModuleMenuControl {
    padding-top: 8px;
    margin-right: 5px;
}

.bv_headerName {
    font-weight: 200;
    font-size: 20px;
}

/*.bv_GenericDataParserController {

    background-color: yellow;
}

.bv_GenericDataParserController template-upload {

   background-color: purple;
}

.bv_DocForBatchesController {
    background-color: blue;
}

.bv_BulkLoadContainersFromSDFController {
    background-color: red;
}

.bv_BulkLoadSampleTransfersController {
    background-color: green;
}*/

.bv_fastUserSelect {
  width: 150px;
  height: 30px;
  border-color: #999999;
  background-color: transparent;
  margin-bottom: 2px;
}

.bv_userInfo select2-hidden-accessible {
  display: none;
}

.bv_userInfo .select2-container {
  width: 175px !important;
}

.bv_userInfo .select2-container .select2-selection--single {
  width: 175px;
  height: 30px;
  border-color: #999999;
  background-color: transparent;
}

.bv_userInfo .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999999;
}

.bv_userInfo .select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}

.bv_userInfo .select2-container {
  margin-bottom: 2px;
}

.bv_userInfo .bv_logout {
  margin-top:0px;
  margin-bottom: 2px;
}

.bv_collapsibleHeaderController .bv_caret {
    margin-left: 5px;
    /*border-bottom-color: #999999;*/
}

.bv_collapsibleHeaderController .bv_modules {
    list-style-type: none;
    margin-left: 15px;
}
.bv_collapsibleHeaderController .bv_moduleCategory {
    cursor: pointer;
}

.bv_collapsibleHeaderController li {
    margin-top: 3px;

    /*margin-bottom: 5px;*/
}

.bv_notTopHeader {
    margin-top: 5px;
}
