<h5 >Add Content</h5>
<div class="pull-right">
    <i class="fa fa-question-circle editorTabHelpIcon"></i>
</div>

<div class="form">
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" name="identifierType" value="compoundBatchId" /> Compound Batch IDs
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" name="identifierType" value="barcode" /> Barcodes
        </label>
    </div>
    <div class="form-group">
        <div class="">
            <textarea class="form-control editorTabTextarea" rows="5" name="identifiers"><%= identifiersDisplayString %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Volume (uL)</label>
        <div class="">
            <input type="text" class="form-control" name="amount" value="<%= amount %>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Conc. (mM)</label>
        <div class="">
            <input type="text" class="form-control" name="batchConcentration" value="<%= batchConcentration %>" />
        </div>
    </div>
    <div class="radio">
        <label>
            <input type="radio" class="editorTabRadio" name="fillStrategy" value="inOrder" /> Fill Region in Order
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" class="editorTabRadio" name="fillStrategy" value="sameIdentifier" /> Fill Region with Same Batch ID
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" class="editorTabRadio" name="fillStrategy" value="random" /> Fill Region in Random Order
        </label>
    </div>
    <div class="form-group editorTabLabelSpecial">
        <label class="control-label editorTabLabelDirection">Direction</label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" name="fillDirection" value="rowMajor"/> Row Major
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" name="fillDirection" value="columnMajor" /> Column Major
        </label>
    </div>
    <div class="form-group">
        <div>You have <span class="addContentTotal"><%= numberOfIdentifiers %></span> compounds; you have <span class="cellsSelected"><%= numberOfCellsSelected %></span> cells selected.</div>
    </div>
    <div class="form-group">
        <button class="btn btn-default pull-right" name="add">Add</button>
    </div>
</div>