<script type="text/template" id="AdminPanelView" xmlns="http://www.w3.org/1999/html">

  <div class="bv_adminPanelWrapper">

    <h4 class="adminPanelTitle">Admin Panel</h4>

    <div class="connectionStatus">
      <span>Database Connection Status: <span class="label bv_connectionStatus"></span></span>
      <span class="bv_checkConnection"> Remember to check your internet connection first.</span>
    </div>

    <h5>Config Properties</h5>
    <div class="well configProperties">
      <div class="bv_configProperties"></div>
    </div>

    <!-- <button class="btn btn-primary bv_restartServer">Restart Node</button>
    <button class="btn btn-primary bv_restartAllServers">Restart All</button>
    <div class="helpText">
      <span class="helpText1">Restart node server.</span>
      <span class="helpText2">Restart both node and roo servers.</span>
    </div> -->

  </div>

</script>
