<div class="hide" name="warningMessages">
    <h4><p class="bg-warning">Warning: something happened...</p></h4>
    <div name="aliasedIdentifiers"></div>
</div>
<div class="hide" name="errorMessages">
    <h4><p class="bg-error">Error: an error occurred creating the plate.</p></h4>

</div>
<div class="hide" name="plateCreatedSuccessfully">
    <h5><p>Plate created successfully.  Click <a href="" target="_blank" name="linkToPlate">here</a> to edit the plate.</p></h5>
</div>