<div class="hide" name="warningMessages">
    <h4><p class="bg-warning">Warning: something happened...</p></h4>
    <div name="aliasedIdentifiers"></div>
</div>
<div class="hide" name="errorMessages">
    <h4><p class="bg-error">Error:</p></h4>
    <p>The barcode <a name="barcode" style="font-weight: bold;" target="_blank"></a> has already been used.  Please go back and enter a different barcode.</p>

</div>
<div class="hide" name="plateCreatedSuccessfully">
    <h5><p>Plate created successfully.  Click <a href="" target="_blank" name="linkToPlate">here</a> to edit the plate.</p></h5>
</div>