<!-- LEFT PANEL -->
<div class="col-xs-1 editorNav">
    <div class="well acasWell editorNavWell">
        <a href="#" name="info_tab">
            <div class="editorTab editorTabInfo" >
                <div class="rotate editorTabInfoLink">Info</div>
            </div>
        </a>
        <a href="#" name="add_content_tab">
            <div class="editorTab editorTabAddContent">
                <div class="rotate editorTabAddContentLink">Add Content</div>
            </div>
        </a>
        <a href="#" name="template_tab">
            <div class="editorTab editorTabTemplate">
                <div class="rotate editorTabTemplateLink">Template</div>
            </div>
        </a>
        <a href="#" name="serial_dilution_tab">
            <div class="editorTab editorTabSerialDilution">
                <div class="rotate editorTabSerialDilutionLink">Serial Dilution</div>
            </div>
        </a>

        <div class="editorNavCollapse">
            <button class="btn btn-default editorCollapseButton"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
        </div>

    </div>
</div>
<div class="col-xs-3 editorPanel">
    <div class="well acasWell editorPanelWell">
        <div name="info_form" class="hide">
            info form
        </div>
        <div name="add_content_form" class="hide">
            add content form
        </div>
        <div name="template_form" class="hide">
            template form
        </div>
        <div name="serial_dilution_form" class="hide">
            serial dilution form
        </div>
    </div>
</div>