<div class="hide" name="warningMessages">
    <h5><p class="bg-warning">Warning: Aliased Identifiers</p></h5>
    <div name="aliasedIdentifiers"></div>
</div>
<div class="hide" name="errorMessages">
    <h5><p class="bg-error">Error: The following identifiers were not found.  Please go back and correct</p></h5>
    <div name="errorIdentifiers"></div>
</div>