<div class="hide" name="warningMessages">
    <h4><p class="bg-warning">Warning: aliased identifiers</p></h4>
    <div name="aliasedIdentifiers"></div>
</div>
<div class="hide" name="errorMessages">
    <h4><p class="bg-error">Error: the following identifiers were not found.  Please go back and correct</p></h4>
    <div name="errorIdentifiers"></div>
</div>