<div class="hide" name="warningMessages">
    <h4><p class="bg-warning">Warning: something happened...</p></h4>
</div>
<div class="hide" name="errorMessages">
    <h4><p class="bg-error">Error: an error occurred loading the plate.</p></h4>
</div>
