
<div name="handsontablecontainer" class="editorHandsontable"></div>
<div class="modal fade" tabindex="-1" role="dialog" name="handsontablePasteError">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>Not enough room on the plate to enter the data.</p>
                <p>The data you are pasting in has <span name="numberOfRowsBeingPasted"></span> rows, but there are only <span name="numberOfRowsAvailable"></span> available.</p>
                <p>The data you are pasting in has <span name="numberOfColsBeingPasted"></span> columns, but there are only <span name="numberOfColumnsAvailable"></span> available.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" name="pasteTruncatedIdentifiersAnyway" data-dismiss="modal">Paste any way</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->