<h5 class="pull-left templateHeader">Template</h5>
<div class="pull-right">
    <i class="fa fa-question-circle editorTabHelpIcon"></i>
</div>

<div class="form">
    <div class="form-group">
        <label class="control-label">Select a Well Type</label>
        <div class="">
            <select class="form-control">
                <option>Positive Control</option>
                <option>Negative Control</option>
                <option>Vehicle Control</option>
                <option>Test Compound</option>
            </select>
        </div>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" /> Fill Region with Sequential IDs
        </label>
    </div>
    <div class="form-group editorTabSeq">
        <div class="">
            <input type="text" class="form-control editorTabSeqIDs pull-left" placeholder="1" />
            <div class="editorTabSeqIDsTo pull-left">to</div>
            <input type="text" class="form-control editorTabSeqIDs pull-left" placeholder="100" />
        </div>
    </div>
    <div class="radio editorTabFillSuboption">
        <label>
            <input type="radio" value="" class="editorTabRadio" /> Fill Region in Order
        </label>
    </div>
    <div class="radio editorTabFillSuboption">
        <label>
            <input type="radio" value="" class="editorTabRadio" /> Fill Region in Random Order
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" /> Fill Region with Single ID
        </label>
    </div>
    <div class="form-group">
        <div class="">
            <input type="text" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group editorTabLabelSpecial">
        <label class="control-label editorTabLabelDirection">Direction</label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" /> Row Major
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="" class="editorTabRadio" /> Column Major
        </label>
    </div>
    <div class="form-group">
        <label class="control-label">Volume (uL)</label>
        <div class="">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Conc. (mM)</label>
        <div class="">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div>You have <span class="cellsSelected">n</span> cells selected.</div>
    </div>
    <div class="form-group">
        <button class="btn btn-default pull-right">Add</button>
    </div>
</div>