!!! 5
html
    head

        title= title
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap-image-gallery.min.css')
        link(rel='stylesheet', href='lib/jqueryFileUpload/css/jquery.fileupload-ui.css')
        link(rel='stylesheet', href='stylesheets/base.css')
        link(rel='stylesheet', href='lib/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.min.css')
        link(rel='stylesheet', href='lib/bootstrap-tagsinput/bootstrap-tagsinput.css')
        link(rel='stylesheet', href='lib/dataTables/css/jquery.dataTables.css')
        link(rel='stylesheet', href='lib/bootstrap-combobox/css/bootstrap-combobox.css')
        link(rel='stylesheet', href='lib/jsxgraph/jsxgraph.css')
        link(rel='stylesheet', href='lib/jstree/themes/default/style.min.css')
        // inserted by PrepareModuleIncludes
        link(rel="stylesheet", href="/stylesheets/modules/CIExcelCompoundPropertiesApp/src/client/CIExcelCompoundPropertiesApp.css")
        link(rel="stylesheet", href="/stylesheets/modules/CmpdRegBulkLoader/src/client/CmpdRegBulkLoader.css")
        link(rel="stylesheet", href="/stylesheets/modules/Components/src/client/style.css")
        link(rel="stylesheet", href="/stylesheets/modules/CurveAnalysis/src/client/DoseResponseFit.css")
        link(rel="stylesheet", href="/stylesheets/modules/CurveAnalysis/src/client/style.css")
        link(rel="stylesheet", href="/stylesheets/modules/DocForBatches/src/client/style.css")
        link(rel="stylesheet", href="/stylesheets/modules/GeneDataQueries/src/client/GeneDataQueries.css")
        link(rel="stylesheet", href="/stylesheets/modules/Logging/src/client/Logging.css")
        link(rel="stylesheet", href="/stylesheets/modules/Login/src/client/login.css")
        link(rel="stylesheet", href="/stylesheets/modules/ModuleMenus/src/client/style.css")
        link(rel="stylesheet", href="/stylesheets/modules/ProtocolBrowser/src/client/style.css")
        link(rel="stylesheet", href="/stylesheets/modules/ServerAPI/src/client/AttachFile.css")
        include ../public/html/modules/CIExcelCompoundPropertiesApp/src/client/CIExcelCompoundPropertiesAppView.html
        include ../public/html/modules/CmpdRegBulkLoader/src/client/CmpdRegBulkLoader.html
        include ../public/html/modules/Components/src/client/BasicFileValidateAndSaveView.html
        include ../public/html/modules/Components/src/client/LSFileChooserView.html
        include ../public/html/modules/Components/src/client/LSFileInputView.html
        include ../public/html/modules/Components/src/client/LSNotificationView.html
        include ../public/html/modules/Components/src/client/PickList.html
        include ../public/html/modules/CurveAnalysis/src/client/CurveCuratorAppView.html
        include ../public/html/modules/CurveAnalysis/src/client/CurveCuratorView.html
        include ../public/html/modules/CurveAnalysis/src/client/DoseResponseFitView.html
        include ../public/html/modules/DocForBatches/src/client/BatchListValidatorView.html
        include ../public/html/modules/DocForBatches/src/client/DocForBatchesAppControllerView.html
        include ../public/html/modules/DocForBatches/src/client/DocForBatchesView.html
        include ../public/html/modules/DocForBatches/src/client/DocUploadView.html
        include ../public/html/modules/ExperimentBrowser/src/client/ExperimentBrowserView.html
        include ../public/html/modules/GeneDataQueries/src/client/GeneDataQueriesView.html
        include ../public/html/modules/Logging/src/client/LoggingView.html
        include ../public/html/modules/ModuleMenus/src/client/ModuleLauncherView.html
        include ../public/html/modules/ModuleMenus/src/client/ModuleMenusView.html
        include ../public/html/modules/PrimaryScreen/src/client/DoseResponseAnalysisView.html
        include ../public/html/modules/PrimaryScreen/src/client/DoseResponseKiAnalysisView.html
        include ../public/html/modules/PrimaryScreen/src/client/PrimaryScreenAppControllerView.html
        include ../public/html/modules/PrimaryScreen/src/client/PrimaryScreenExperiment.html
        include ../public/html/modules/PrimaryScreen/src/client/PrimaryScreenProtocol.html
        include ../public/html/modules/ProtocolBrowser/src/client/ProtocolBrowser.html
        include ../public/html/modules/ServerAPI/src/client/AttachFile.html
        include ../public/html/modules/ServerAPI/src/client/BaseEntity.html
        include ../public/html/modules/ServerAPI/src/client/ExampleThing.html
        include ../public/html/modules/ServerAPI/src/client/Experiment.html
        include ../public/html/modules/ServerAPI/src/client/Protocol.html

        // end inserted by PrepareModuleIncludes
        -each script in scripts
            script(type='text/javascript', src= script)


      body
        block content
