extends layout
block content
    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                div.brand ACAS

    div.container.loginContainer
        div.span8.offset1
            h3 Please Login
            div.well
                form.form-horizontal(action="/login", method="post")
                    div.control-group
                        label.control-label Username:
                        div.controls
                            input.span5(type="text", name="username")
                    div.control-group
                        label.control-label Password:
                        div.controls
                            input.span5(type="password", name="password")
                    hr.loginDivider
                    div.form-horizontal
                        div.control-group
                            div.controls
                                input.btn.btn-primary(type="submit", value="Submit")
                                a.forgotPasswordLink(href="/passwordReset") Forgot your password?
        - if (message == "Your new password is set")
            div.span7.offset1.alert.alert-success.loginError #{message}
        - else if (message != "")
            div.span7.offset1.alert.alert-error.loginError #{message}
