extends layout
block content
    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                div.brand ACAS

    div.container.loginContainer
        div.span8.offset1
            h3 Reset Password
            div.well
                span Please enter the email address associated with your account.
                hr.loginDivider
                form.form-horizontal(action="/passwordReset", method="post")
                    div.control-group
                        label.control-label Email:
                        div.controls
                            input.span5(type="text", name="email")
                    div.form-horizontal
                        div.control-group
                            div.controls
                                input.btn.btn-primary(type="submit", value="Send Reset")
                                a.loginLink(href="/login") Login
        - if (message == "Your new password is sent to your email address")
            div.span7.offset1.alert.alert-success.loginError #{message}
        - else if (message != "")
            div.span7.offset1.alert.alert-error.loginError #{message}