doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        link(rel='stylesheet', href='/lib/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.min.css')
        link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheetsdyn/PlateRegistration/plateReg.css')
        link(rel='stylesheet', href='/stylesheetsdyn/PlateRegistration/acas_redesign.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/lib/handsontable/dist/handsontable.full.css')
        link(rel='stylesheet', href='/lib/dataTables/css/jquery.dataTables.css')
        script(type='text/javascript', src="/lib/jquery-2.2/jquery.min.js")
        script(type='text/javascript', src="/lib/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js")
        script(type='text/javascript', src="/lib/dataTables/js/jquery.dataTables.min.js")
        //script(type='text/javascript', src="/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js")
        //script(type='text/javascript', src="/lib/handsontable/dist/handsontable.full.js")
        script(type='text/javascript', src="/compiled/index.bundle.js")
    body
        div#app-container

        script
            window.AppLaunchParams = !{JSON.stringify(AppLaunchParams)};
