doctype html
html
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=Edge")
      title Compound Inventory SpecRunner
      link(rel='stylesheet', href='lib/testLibraries/jasmine-jstd-adapter/jasmine/lib/jasmine-core/jasmine.css')
      script(type='text/javascript', src="lib/testLibraries/jasmine-jstd-adapter/jasmine/lib/jasmine-core/jasmine.js")
      script(type='text/javascript', src='lib/testLibraries/jasmine-jstd-adapter/jasmine/lib/jasmine-core/jasmine.js')
      script(type='text/javascript', src='lib/testLibraries/jasmine-jstd-adapter/jasmine/lib/jasmine-core/jasmine-html.js')
      script(type='text/javascript', src='lib/testLibraries/jasmine-jquery/lib/jasmine-jquery.js')
      script(type='text/javascript', src='lib/testLibraries/sinon.js')
      script(type='text/javascript', src="/compiled/spec.bundle.js")
   body
      div#fixture

   script

      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
         return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;
      window.servicesHostPrefix = "";

      window.onload = function() {
         if (currentWindowOnload) {
            currentWindowOnload();
         }
         execJasmine();
      };

      function execJasmine() {
         jasmineEnv.execute();
      }
