doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")

        script(type='text/javascript', src="/compiled/index.bundle.js")
    body

        h1 compound INVENTORY