<script type="text/template" id="ExperimentSearchView" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html">

	<div class="form-horizontal">
		<div class="control-group bv_group_protocolCode">
			<label class="control-label ">*Protocol Kind</label>
			<div class="controls">
				<select class="bv_protocolKind" style="width:417px;"></select>
			</div>
		</div>
		<div class="control-group bv_group_protocolName">
			<label class="control-label ">*Protocol Name</label>
			<div class="controls">
				<select class="bv_protocolName" style="width:417px;"></select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Experiment Code</label>
			<div class="controls">
				<input class="bv_experimentCode" type="text" placeholder="EXPT-00000000" style="width:336px;"/>
			</div>
		</div>
		<div>
			<button type="button" class="btn bv_find">Find</button>
		</div>
	</div>

</script>

<script type="text/template" id="ExperimentSimpleSearchView" xmlns="http://www.w3.org/1999/html">
	<div class="navbar" style="margin-bottom: 0px; ">
		<div class="navbar-inner" style="border-bottom-left-radius:	0px; border-bottom-right-radius:	0px;">
			<!-- <form class="navbar-search pull-left"> -->
				<div class="control-group" style="margin-top: 5px; margin-bottom: 5px;">
					<div class="input-append">
						<input class="bv_experimentSearchTerm" style="
							padding-right: 14px;
							border-top-left-radius: 15px;
							border-bottom-left-radius: 15px;
							" type="text" placeholder="Search for experiments">
						<button class="btn bv_doSearch add-on" style="
							border-top-right-radius: 15px;
							border-bottom-right-radius: 15px;
							height: 30px;
							margin-top: 0px;
							background-color: #fff;
							border-left: 0px;
							border-bottom: 1px solid #cccccc;
							border-right: 1px solid #cccccc;
							border-top: 1px solid #cccccc;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
              width: 2.5em; padding-right: 0.8em;transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;" type="button" disabled>
							<i class="icon-search bv_doSearchIcon"></i>
							<i class="icon-remove bv_clearSearchIcon hide"></i>
						</button>
					</div>
				</div>
			<!-- </form> -->
		</div>
	</div>

</script>

<script type="text/template" id="ExperimentDetailSearchView" xmlns="http://www.w3.org/1999/html">

	<div class="form-horizontal">
		<div class="control-group bv_group_protocolCode">
			<label class="control-label ">*Protocol Kind</label>
			<div class="controls">
				<select class="bv_protocolKind" style="width:417px;"></select>
			</div>
		</div>
		<div class="control-group bv_group_protocolName">
			<label class="control-label ">*Protocol Name</label>
			<div class="controls">
				<select class="bv_protocolName" style="width:417px;"></select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Experiment Code</label>
			<div class="controls">
				<input class="bv_experimentCode" type="text" placeholder="EXPT-00000000" style="width:336px;"/>
			</div>
		</div>
		<div>
			<button type="button" class="btn bv_find">Find</button>
		</div>
	</div>

</script>


<script type="text/template" id="ExperimentRowSummaryView" xmlns="http://www.w3.org/1999/html">
	<td class='bv_experimentName' style="width: 125px;"><%= experimentCode %></td>
	<td class='bv_experimentCode' style="width: 200px;"><%= experimentName %></td>
	<td class='bv_protocolName' style="width: 125px;"><%=protocolName%></td>
	<td class='bv_recordedBy' style="width: 125px;"><%=recordedBy%></td>
	<td class='bv_recordedDate' style="width: 80px;"><%= moment(recordedDate).format("YYYY-MM-DD") %></td>
	<td class='bv_status' ><%=status%></td>
	<td class='bv_analysisStatus' ><%=analysisStatus%></td>
</script>

<script type="text/template" id="ExperimentSummaryTableView" xmlns="http://www.w3.org/1999/html">
	<table class="table table-bordered table-striped table-hover" style="margin: 0px; padding: 0px; border: 0px; width: 100%; ">
		<thead style="">
		<tr>
			<th style="width: 125px;">Code</th>
			<th style="width: 200px;">Name</th>
			<th style="width: 125px;">Protocol</th>
			<th style="width: 125px;">Scientist</th>
			<th style="width: 80px;">Date</th>
			<th >Status</th>
			<th >Analysis Status</th>
		</tr>
		</thead>
		<tbody style="">

		</tbody>
	</table>
</script>

<script type="text/template" id="ExperimentDetailsView" xmlns="http://www.w3.org/1999/html">
</script>

<script type="text/template" id="ExperimentBrowserView" xmlns="http://www.w3.org/1999/html">

	<div class="bv_experimentSearchController" style="padding-bottom: 0px;"></div>
		<div class="" style=" border: 1px solid #d4d4d4; border-top: 0px; margin: 0px; padding: 0px; ">

			<div class="bv_searchStatusIndicator" style="height: 280px;">
				<table width="100%">
					<thead>
					<tr><td style="display: none;">placeholder</td></tr>
					</thead>
					<tbody>
					<tr>
						<td style="text-align: center; width: 100%; align-content: center; height: 250px;">
							<h5 class="bv_noMatchesFoundMessage hide">No Matching Experiments Found</h5>
							<h5 class="bv_errorOccurredPerformingSearch hide">An error occurred while searching for the experiment.</h5>

							<div class="bv_experimentBrowserSearchInstructions">
								<i class="icon-search bv_doSearchIcon"></i>
								Experiment Browser
							</div>
							<div class="hide bv_searchingMessage" style="margin: auto;">
								<h5>Searching for Experiments containing text "<i class="bv_searchTerm"></i>"</h5>
								<div class="progress progress-striped active " style="width: 90%; margin: auto;">
									<div class="bar" style="width: 100%; margin: auto;"></div>
								</div>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		<div class="bv_experimentTableController hide" style="margin: 10px; padding: 0px; overflow: auto; height: 280px; overflow: auto;"></div>
	</div>
	<!--
	<h5>Selected Experiment Details</h5>
	-->
	<div class="well well-small bv_experimentBaseControllerContainer hide" style="margin-top: 10px;">
		<button class="btn btn-danger bv_deleteExperiment">Delete</button>
		<% if (includeDuplicateAndEdit) { %>
		<button class="btn bv_duplicateExperiment pull-right hide" style="margin-left: 0.5em;">Duplicate</button>
		<button class="btn bv_editExperiment pull-right">Edit</button>
		<% } %>
		<hr />
		<div class="">
			<div class="bv_experimentBaseController hide"></div>
		</div>
	</div>

	<div class="modal hide bv_confirmDeleteExperiment">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Delete Experiment</h3>
		</div>
		<div class="modal-body">
			<div class="bv_deleteWarningMessage">
				<p>Are you sure you would like to delete experiment: <span class="bv_experimentCodeName"></span>?</p>
			</div>
			<div class="bv_deletingStatusIndicator hide">
				<table width="100%"></table>
				<tr>
					<td style="text-align: center; width: 100%">
						<h4>Deleting Experiment</h4>
						<div class="progress progress-striped active" style="width: 100%;">
							<div class="bar" style="width: 100%;"></div>
						</div>
					</td>
				</tr>
			</div>
			<div class="bv_experimentDeletedSuccessfullyMessage hide">
				<p>Experiment <span class="bv_experimentCodeName"></span> has successfully been deleted</p>
			</div>
			<div class="bv_errorDeletingExperimentMessage hide">
				<p>An error occured deleting Experiment <span class="bv_experimentCodeName"></span>.  Please contact support for additional help.</p>
			</div>
		</div>
		<div class="modal-footer">
		    <span class="bv_deleteButtons">
		      <a href="#" class="btn btn-danger bv_confirmDeleteExperimentButton">Delete Experiment</a>
		      <a href="#" class="btn btn-primary bv_cancelDelete">Cancel</a>
			  </span>
		    <span class="bv_okayButton hide">
			    <a href="#" class="btn btn-primary bv_cancelDelete">Okay</a>
		    </span>
		</div>
	</div>
</script>
