.bv_StandardizationController .bv_currentSettings {
  margin-bottom: 30px;
}

.standardizerControlsWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.standardizerControlsWrapper .bv_refresh, .standardizerControlsWrapper .bv_executeStandardization {
  margin-left: 10px;
}

.bv_standardizationHistory select, .bv_standardizationDryRunReport select {
  height: 30px;
}

.bv_standardizationDryRunReportStats {
  margin-top: 20px;
  margin-left: 0px;
}

.bv_standardizationDryRunReport {
  margin-top: 20px;
  margin-left: 0px;
}

.bv_executingStandardizationDryRunModal .modal-body, .bv_executingStandardizationModal .modal-body {
  padding-top: 0px;
}

.bv_standardizationDryRunReportSummaryTable {
  margin: 0px;
}

.bv_getStandardizationHistoryError, .bv_getStandardizationDryRunReportError, .bv_executeDryRunError, .bv_executeStandardizationError, .bv_getCurrentSettingsError, .bv_getDryRunReportStatsError {
  margin-top: 40px;
}
