extends layout
block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand #{logoText}

    div.container.externalLinkContainer
        div.row
            div.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title Redirect Notice
                    div.panel-body
                        - if (redirectUrl)
                            div.alert.alert-warning
                                strong External Redirect
                                p You are being redirected to an external site:
                                p.text-center
                                    a.btn.btn-link(href="#{redirectUrl}", target="_blank") #{redirectUrl}
                        div.text-center
                            p If you do not want to be redirected, you can:
                            a.btn.btn-primary(href="#{homeUrl}") Return Home