extends layout
block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand.bv_headerName(href="/") ACAS

    div.container.loginContainer
        div.row
            div.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title Change Password
                    div.panel-body
                        form.form-horizontal(action="/passwordChange", method="post", role="form")
                            div.form-group
                                label.control-label.col-sm-4(for="oldPassword") Old Password:
                                div.col-sm-8
                                    input.form-control(type="password", name="oldPassword", id="oldPassword", required)
                            div.form-group
                                label.control-label.col-sm-4(for="newPassword") New Password:
                                div.col-sm-8
                                    input.form-control(type="password", name="newPassword", id="newPassword", required)
                            div.form-group
                                label.control-label.col-sm-4(for="newPasswordAgain") Confirm Password:
                                div.col-sm-8
                                    input.form-control(type="password", name="newPasswordAgain", id="newPasswordAgain", required)
                            div.form-group
                                div.col-sm-offset-4.col-sm-8
                                    button.btn.btn-primary.btn-block(type="submit") Change Password
                                    p.help-block.text-center
                                        a(href="/login") Back to Login
        - if (message != "")
            div.row
                div.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                    div.alert.alert-danger.loginError #{message}