extends layout
block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand.bv_headerName(href="/") ACAS

  div.container.loginContainer
    div.row
      div.col
        h3 Change Password
        form(action="/passwordChange", method="post")
          div.form-group
            label Old Password:
            input.form-control(type="password", name="oldPassword")
          div.form-group
            label New Password:
            input.form-control(type="password", name="newPassword")
          div.form-group
            label New Password Again:
            input.form-control(type="password", name="newPasswordAgain")
          input.btn.btn-primary(type="submit", value="Change Password")
          - if (message != "")
              div.alert.alert-danger.loginError #{message}
