extends layout
block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    span.navbar-brand ACAS

  div.container.loginContainer
    div.row
      div.col
        h3 Reset Password
        span Please enter the email address associated with your account.
        hr.loginDivider
        form(action="/passwordReset", method="post")
          div.form-group
            label Email:
            input.form-control(type="text", name="email")
          input.btn.btn-primary(type="submit", value="Send Reset")
          a.loginLink(href="/login") Login
          - if (message == "Your new password has been sent to your email address.")
              div.alert.alert-success.loginError #{message}
          - else if (message != "")
              div.alert.alert-danger.loginError #{message}
