extends layout
block content
    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                div.brand ACAS

    div.container.loginContainer
        div.span8.offset1
            h3 Change Password
            div.well
                form.form-horizontal(action="/passwordChange", method="post")
                    div.control-group
                        label.control-label Old Password:
                        div.controls
                            input.span5(type="password", name="oldPassword")
                    div.control-group
                        label.control-label New Password:
                        div.controls
                            input.span5(type="password", name="newPassword")
                    div.control-group
                        label.control-label New Password Again:
                        div.controls
                            input.span5(type="password", name="newPasswordAgain")
                    hr.loginDivider
                    div.form-horizontal
                        div.control-group
                            div.controls
                                input.btn.btn-primary(type="submit", value="Change Password")
        - if (message != "")
            div.span7.offset1.alert.alert-error.loginError #{message}