extends layout

block content
    link(rel='stylesheet', href='lib/testLibraries/jasmine-jstd-adapter/jasmine/lib/jasmine-core/jasmine.css')

    div#fixture

    script
        window.AppLaunchParams = !{JSON.stringify(appParams)};
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var trivialReporter = new jasmine.TrivialReporter();

        jasmineEnv.addReporter(trivialReporter);

        jasmineEnv.specFilter = function(spec) {
            return trivialReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;
        window.servicesHostPrefix = "";
        //window.testMode = true;

        window.onload = function() {
            if (currentWindowOnload) {
                currentWindowOnload();
            }
            execJasmine();
        };

        function execJasmine() {
            jasmineEnv.execute();
        }
