<script type="text/template" id="ACASFormMultiLabelRowView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <input class="" type="text" placeholder="" />
        <span class="help-inline hide"></span>
    </div>
    <!--Add delete button here?-->
</script>

<script type="text/template" id="ACASFormMultiLabelListView" xmlns="http://www.w3.org/1999/html">
    <div class="bv_multiLabels"></div>
    <button class="btn bv_addLabelButton" style="float: right; padding-left: 4px; padding-right: 4px; color: rgb(204, 204, 204);">
        <i class="icon-plus-sign"></i>
    </button>
</script>