.toast-container {
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;
}
.toast-container .toast {
    position: relative;
    width: 100%;
    max-width: 300px;
    min-width: 280px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .15), 0 10px 10px -5px rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.toast-container .toast:hover {
    box-shadow: 0 15px 20px -5px rgba(0, 0, 0, .15), 0 15px 15px -5px rgba(0, 0, 0, .1);
}
.toast-container .toast .t-title {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    color: #262626;
    font-weight: 600;
    font-size: 1.1rem;
}
.toast-container .toast .t-title span {
    font-size: 1.2rem;
    padding: 0 10px 0 0;
}
.toast-container .toast .t-text {
    color: #262626;
    margin: 5px 0 0 0;
}
.toast-container .toast .t-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 25px;
    width: 25px;
    right: -10px;
    top: -10px;
    padding: 0;
    margin: 0;
    background-color: #464646;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .15), 0 10px 10px -5px rgba(0, 0, 0, .1);
}
.toast-container .toast .t-close:after, .toast-container .toast .t-close:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #eee;
    border-radius: 3px;
}
.toast-container .toast .t-close:after {
    width: 2px;
    height: 16px;
}
.toast-container .toast .t-close:before {
    width: 16px;
    height: 2px;
}
.toast-container .toast.active {
    opacity: 1;
    visibility: visible;
}
.toast-container .toast.info {
    background-color: #77a1fc;
}
.toast-container .toast.info .t-text {
    color: #eee;
}
.toast-container .toast.info .t-title {
    color: #eee;
}
.toast-container .toast.success {
    background-color: #4ef7c4;
}
.toast-container .toast.warning {
    background-color: #fcbc69;
}
.toast-container .toast.warning .t-text {
    color: #eee;
}
.toast-container .toast.warning .t-title {
    color: #eee;
}
.toast-container .toast.error {
    background-color: #fc6969;
}
.toast-container .toast.error .t-text {
    color: #eee;
}
.toast-container .toast.error .t-title {
    color: #eee;
}
