<script type="text/template" id="ACASFormChemicalStructureExampleControllerView" xmlns="http://www.w3.org/1999/html">
    <h4 class="bv_sketcherLabel">Test sketcher thingy</h4>
    <div class="bv_sketcher">sketcher widget should be inserted after this text</div>
    <button type="button" class="bv_getMolButton">get mol</button>
    <button type="button" class="bv_setMolButton">set mol</button>
</script>


<script type="text/template" id="ACASFormChemicalStructureControllerView" xmlns="http://www.w3.org/1999/html">
    <iframe class="bv_sketcherIFrame"  style="width:520px; height:390px;">sketcher should load here</iframe>
</script>
