<script type="text/template" id="ACASFormCodeValueCheckbox" xmlns="http://www.w3.org/1999/html">
    <label class="control-label" style="width:172px;">
        <div class ="container-fluid">
            <div class ="row">
                <div class ="span2">
                    <input class="pull-left" type="checkbox"/>
                    <span class="help-inline hide"></span>
                </div>
                <div class ="label-text text-left span10" style="text-align:left;">
                    launching controller must provide or set label
                </div>
            </div>
        </div>
    </label>
</script>

<script type="text/template" id="ACASFormMultiCodeValueCheckbox" xmlns="http://www.w3.org/1999/html">
    <div class="bv_multiCodeValueCheckboxWrapper"></div>
</script>