<script type="text/template" id="ACASFormMultiLabelView" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-10">
            <div class="bv_multiLabel"></div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default bv_removeLabelButton" style="margin-top: 5px;">
                <i class="glyphicon glyphicon-minus-sign"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template" id="ACASFormMultiLabelListView" xmlns="http://www.w3.org/1999/html">
    <div class="well multiLabelListWell">
        <div class="bv_multiLabels"></div>
        <button class="btn btn-default bv_addLabelButton">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
    </div>
</script>