!!! 5
html
	head

		title= title
		meta(http-equiv="X-UA-Compatible" content="chrome=1")
		link(rel='stylesheet', href='/lib/ChemDoodleWeb/ChemDoodleWeb.css')
		link(rel='stylesheet', href='/lib/ChemDoodleWeb/uis/jquery-ui-1.10.3.custom.css')
		script(type='text/javascript', src='/lib/ChemDoodleWeb/ChemDoodleWeb.js')
		script(type='text/javascript', src='/lib/ChemDoodleWeb/uis/ChemDoodleWeb-uis.js')
	body
		div
			script.
				var options = {useServices: false, oneMolecule: true, includeQuery:true};

				var sketcher = new ChemDoodle.SketcherCanvas('bv_sketcherCanvas', 500, 300, options);
				// sets terminal carbon labels to display
				sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
				// sets atom labels to be colored by JMol colors, which are easy to recognize
				sketcher.specs.atoms_useJMOLColors = true;
				// enables overlap clear widths, so that some depth is introduced to overlapping bonds
				sketcher.specs.bonds_clearOverlaps_2D = true;
				// sets the shape color to improve contrast when drawing figures
				sketcher.specs.shapes_color = 'c10000';
				// because we do not load any content, we need to repaint the sketcher, otherwise we would just see an empty area with the toolbar
				// however, you can instead use one of the Canvas.load... functions to pre-populate the canvas with content, then you don't need to call repaint
				sketcher.repaint();
