<script type="text/template" id="ACASFormMultiFileView" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <div class="bv_multiFile pull-left"></div>
        <button class="btn bv_removeFileButton">
            <i class="icon-minus-sign"></i>
        </button>
    </div>
</script>

<script type="text/template" id="ACASFormMultiFileListView" xmlns="http://www.w3.org/1999/html">
    <div class="well multiFileListWell span9">
        <div class="bv_multiFiles"></div>
    </div>
</script>