<script type="text/template" id="ACASFormMultiInteractionView" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <div class="bv_multiInteraction pull-left"></div>
        <button class="btn bv_removeInteractionButton">
            <i class="icon-minus-sign"></i>
        </button>
    </div>
</script>

<script type="text/template" id="ACASFormMultiInteractionListView" xmlns="http://www.w3.org/1999/html">
    <div class="well multiInteractionListWell span9">
        <div class="bv_multiInteractions"></div>
        <button class="btn bv_addInteractionButton">
            <i class="icon-plus-sign"></i>
        </button>
    </div>
</script>