<script type="text/template" id="ACASFormMultiLabelView" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <div class="bv_multiLabel pull-left"></div>
        <button class="btn bv_removeLabelButton">
            <i class="icon-minus-sign"></i>
        </button>
    </div>
</script>

<script type="text/template" id="ACASFormMultiLabelListView" xmlns="http://www.w3.org/1999/html">
    <div class="well multiLabelListWell span9">
        <div class="bv_multiLabels"></div>
        <button class="btn bv_addLabelButton">
            <i class="icon-plus-sign"></i>
        </button>
    </div>
</script>