<script type="text/template" id="ACASFormMultiInteractionView" xmlns="http://www.w3.org/1999/html">
    <div class="col-sm-12">
        <div class="bv_multiInteraction pull-left"></div>
        <button class="btn btn-default bv_removeInteractionButton">
            <i class="glyphicon glyphicon-minus-sign"></i>
        </button>
    </div>
</script>

<script type="text/template" id="ACASFormMultiInteractionListView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label col-sm-3">Associated Projects</label>
    <div class="col-sm-9">
        <div class="well multiInteractionListWell">
            <div class="bv_multiInteractions"></div>
            <button class="btn btn-default bv_addInteractionButton">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </div>
    </div>
</script>