<script type="text/template" id="ACASFormMultiInteractionView" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-10">
            <div class="bv_multiInteraction"></div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default bv_removeInteractionButton" style="margin-top: 5px;">
                <i class="glyphicon glyphicon-minus-sign"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template" id="ACASFormMultiInteractionListView" xmlns="http://www.w3.org/1999/html">
    <div class="well multiInteractionListWell">
        <div class="bv_multiInteractions"></div>
        <button class="btn btn-default bv_addInteractionButton">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
    </div>
</script>