<!--<script type="text/template" id="ACASFormStateDisplayUpdateRowView" xmlns="http://www.w3.org/1999/html">-->
    <!--<h5 class="bv_tableLabel">launching controller must provide or set table label</h5>-->
    <!--<table class="table table-bordered table-striped table-hover" style="margin: 0px; padding: 0px; border: 0px; width: 100%; ">-->
        <!--<thead style="">-->
        <!--<tr>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody style="">-->

        <!--</tbody>-->
    <!--</table>-->

<!--</script>-->


<script type="text/template" id="ACASFormStateDisplayUpdateView" xmlns="http://www.w3.org/1999/html">
    <h5 class="bv_tableLabel">launching controller must provide or set table label</h5>
    <table class="table table-bordered table-striped table-hover" style="margin: 0px; padding: 0px; border: 0px; width: 100%; ">
        <thead style="">
        <tr>
        </tr>
        </thead>
        <tbody style="">

        </tbody>
    </table>

</script>
