<script type="text/template" id="ACASFormLSLabelFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <input class="" type="text" placeholder="" />
        <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSNumericValueFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <input class="" type="text" placeholder="" />
        <span class="bv_units"></span>
        <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSCodeValueFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <select class="" ></select>
        <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSStringValueFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
    <input class="" type="text" placeholder="" />
    <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSDateValueFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
    <input class="" type="text" placeholder="" />
    <span class="add-on bv_dateIcon"><i class="icon-th"></i></span>
    <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSThingInteractionFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <select class="" ></select>
        <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSHTMLClobValueFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <div class="bv_wysiwygEditor" style="border:1px solid #cccccc; padding:4px 6px;width:650px;border-radius:3px;overflow-y:auto; height:50px;"></div>
        <span class="help-inline hide"></span>
    </div>
</script>

<script type="text/template" id="ACASFormLSFileValueFieldView" xmlns="http://www.w3.org/1999/html">
    <label class="control-label">launching controller must provide or set label</label>
    <div class="controls">
        <div class="bv_file span9" style="width:352px;"></div>
        <button type="button" class="btn btn-danger bv_deleteSavedFile">Delete</button>
    </div>
</script>

