<script type="text/template" id="BasicFileValidateAndSaveView">
    <div class='bv_outerContainer container-fluid' >
        <div class="bv_moduleTitle row col-md-12" style="padding-bottom: 0px;margin-bottom: 0px;">Generic Data Parser</div>
        <div class="row col-md-12 bv_additionalValuesForm"></div>
        <div class="bv_resultStatus row col-md-12"></div>
        <div class='bv_fileUploadWrapper row col-md-12'>
            <div class='well col-md-12 bv_fileUploadDirections'>
                To upload the <b>required data file</b>, click the "Browse Files…" button and select a file.
            </div>
            <div class='bv_parseFile'></div>
            <div class="bv_reportFileFeature well col-md-12" style="background:white;padding-bottom:0;margin-left:0;">
                <div class="form-group bv_group_attachReportFile">
                    <label class="checkbox" style="width:200px;padding-left:20px;margin-bottom:20px;">
                        <input type="checkbox" name="bv_attachReportFile" class="bv_attachReportFile"/>Attach optional report file
                    </label>

                </div>
                <div class='bv_reportFileWrapper row hide'>
                    <div class='bv_reportFileDirections well col-md-12'>
                        To upload an <b>optional report file</b>, click the "Browse Files…" button and select a file.
                    </div>
                    <div class='bv_reportFile'></div>
                </div>
            </div>
            <div class="bv_imagesFileFeature well col-md-12" style="background:#FFFFFF;padding-bottom:0;margin-left:0;">
                <div class="form-group bv_group_attachImagesFile">
                    <label class="checkbox" style="width:200px;padding-left:20px;margin-bottom:20px;">
                        <input type="checkbox" name="bv_attachImagesFile" class="bv_attachImagesFile"/>Attach optional image file
                    </label>
                </div>
                <div class='bv_imagesFileWrapper row hide'>
                    <div class='well col-md-12'>
                        To upload an <b>optional image file</b>, click the "Browse Files…" button and select a file.
                    </div>
                    <div class='bv_imagesFile'></div>
                </div>
            </div>
        </div>

        <div class="bv_flowControl row col-md-12">
            <div class="bv_preProcessorHTMLSummary well"></div>
            <div class="bv_htmlSummary well"></div>
            <div class="bv_csvPreviewContainer">
                <h4>Data Preview:</h4>
                <table class="table table-striped table-bordered table-condensed">
                    <thead class="csvPreviewTHead"></thead>
                    <tbody class="csvPreviewTBody"></tbody>
                </table>
            </div>
            <div class="bv_nextControlContainer pull-right">
                <div class='btn btn-primary bv_next'>Next</div>
            </div>
            <div class="bv_saveControlContainer pull-right">
                <div class='btn btn-default bv_back'>Back</div>
                <div class='btn btn-success bv_save'>Upload Data</div>
            </div>
            <div class="bv_completeControlContainer pull-right">
                <div class='btn btn-primary bv_loadAnother'>Load Another</div>
            </div>
        </div>

        <div class='bv_notifications row col-md-12'></div>

        <div class='modal fade bv_validateStatusDropDown' tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Validating Data</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <br />
                            <div class="progress progress-striped active">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='modal fade bv_saveStatusDropDown' tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Uploading Results</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <br />
                            <div class="progress progress-striped active">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>

