<script type="text/template" id="LSFileChooserView">
	<form class="fileupload" action="server/php/" method="POST" enctype="multipart/form-data">
		<div class="row fileupload-buttonbar">
			<div class="col-md-7 bv_manualFileSelect" style="padding-left:50px;">
				<span class="btn fileinput-button">
					<span>Browse Files...</span>
					<input type="file" name="files[]" multiple>
				</span>
			</div>
			<div class="col-md-7 well <%- dropZoneClassId %>" style="display: none; text-align: center">
				<h4 class='bv_dragOverMessage'><%- dragOverMessage %></h4>
			</div>
			<% if (allowMultipleFiles) { %>
			<table role="presentation" class="table bv_fileInfo"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
		</div>
		<% } else { %>
		</div>
		<table role="presentation" class="table bv_fileInfo"  width="670px;"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
		<% } %>
	</form>
</script>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"\><span class="fade"></span></td>
        <td class="name" width="500px;""><span>{%=file.originalName%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-danger">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="height: 40px; margin-bottom: 0; background-color: #f5f5f5; border: 2px solid #ddd; border-radius: 6px; overflow: hidden; width: 100%; min-width: 200px;">
                    <div class="progress-bar progress-bar-success" style="width:0%; height: 100%; background-color: #5cb85c !important; transition: width 0.6s ease; display: block; font-size: 14px; line-height: 40px; text-align: center; color: white; font-weight: bold;">
                        <span class="sr-only">0% Complete</span>
                        Uploading...
                    </div>
                </div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } %}
        <td class="cancel" style='width: 9em;'>{% if (!i) { %}
            <button class="btn btn-warning bv_cancelFile">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.originalName%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-danger">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview" valign="middle">
            	<i class='bv_status'></i>
            {% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.originalName%}" rel="gallery" download="{%=file.originalName%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.originalName%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.originalName%}">{%=file.originalName%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2">
            
            	<div class="progress progress-striped active dv_validatingProgressBar hidden" >
    				<div class="progress-bar progress-bar-info" style="width: 100%;"><strong>validating file…</strong></div>
    			</div>
            </td>
        {% } %}
        <td class="delete hidden" style='width: 7em;'>
            <button class="btn btn-danger bv_deleteFile" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="glyphicon glyphicon-trash"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            
        </td>
    </tr>
{% } %}
</script>
