<script type="text/template" id="LSNotificationView">
<div class='bv_notificationContainer panel-group'>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title bv_notificationCountContainer" >
				<span class='bv_errorNotificationCountContainer'></span>
				<span class='bv_warningNotificationCountContainer'></span>
				<span class='bv_infoNotificationCountContainer'></span>
				<div class="bv_notificationMessagePreview" style="float: right;"></div>
			</div>
        </div>
        <div class="panel-collapse collapse bv_notificationMessages">
            <div class="panel-body">
                <div class='bv_errorNotificationMessages'></div>
                <div class='bv_warningNotificationMessages'></div>
                <div class='bv_infoNotificationMessages'></div>
            </div>
        </div>

	</div>
</script>

<script type="text/template" id="LSErrorNotificationCount">
	<span class='badge bv_notificationsCount' style='background-color: #d9534f;'>
		<%- count %>
	</span>
	&nbsp;
</script>

<script type="text/template" id="LSErrorNotificationMessage">
	<div class='alert alert-danger'>
		<%- message %>
	</div>
</script>

<script type="text/template" id="LSWarningNotificationCount">
	<span class='badge bv_notificationsCount' style='background-color: #f0ad4e;'>
		<%- count %>
	</span>
	&nbsp;
</script>

<script type="text/template" id="LSWarningNotificationMessage">
	<div class='alert alert-warning'>
		<%- message %>
	</div>
</script>

<script type="text/template" id="LSInfoNotificationCount">
	<span class='badge bv_notificationsCount' style='background-color: #5bc0de;'>
		<%- count %>
	</span>
	&nbsp;
</script>

<script type="text/template" id="LSInfoNotificationMessage">
	<div class='alert alert-info'>
		<%- message %>
	</div>
</script>

