<script type="text/template" id="LSNotificationView">






<div class='bv_notificationContainer accordion'>
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-toggle bv_notificationCountContainer" >
				<span class='bv_errorNotificationCountContainer'></span>
				<span class='bv_warningNotificationCountContainer'></span>
				<span class='bv_infoNotificationCountContainer'></span>
				<div class="bv_notificationMessagePreview" style="float: right;"></div>
			</div>
        </div>
        <div class="accordion-body hide  bv_notificationMessages">
            <div class='bv_errorNotificationMessages'></div>
            <div class='bv_warningNotificationMessages'></div>
            <div class='bv_infoNotificationMessages'></div>
        </div>

	</div>
</script>

<script type="text/template" id="LSErrorNotificationCount">
	<span class='badge badge-important bv_notificationsCount'>
		<%= count %>
	</span>
	&nbsp;
</script>

<script type="text/template" id="LSErrorNotificationMessage">
	<div class='alert alert-error'>
		<%= message %>
	</div>
</script>

<script type="text/template" id="LSWarningNotificationCount">
	<span class='badge badge-warning bv_notificationsCount'>
		<%= count %>
	</span>
	&nbsp;
</script>

<script type="text/template" id="LSWarningNotificationMessage">
	<div class='alert alert-warning'>
		<%= message %>
	</div>
</script>

<script type="text/template" id="LSInfoNotificationCount">
	<span class='badge badge-info bv_notificationsCount'>
		<%= count %>
	</span>
	&nbsp;
</script>

<script type="text/template" id="LSInfoNotificationMessage">
	<div class='alert alert-info'>
		<%= message %>
	</div>
</script>
