.bv_outerContainer {
    /*width: 670px;*/
    margin-top: 10px;
}

.bv_fileUploadWrapper .bv_parseFile {
    width: 670px;
}
.bv_fileUploadWrapper .bv_reportFile {
    width: 630px;
}
.bv_fileUploadWrapper .bv_imagesFile {
    width: 630px;
}

.bv_notifications {
    margin-top: 10px;
}

.bv_moduleTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;

}

.bv_resultStatus {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.select2-container .select2-selection--single {
  width: 350px;
  height: 30px;
  border-color: #bbbbbb;
  /* base width matches edit prot and expt */
}

.bv_stateDisplayUpdateTable .valueWasEdited {
    color: red;
}

.bv_stateDisplayUpdateTable .valueNotEditable {
    color: #9D9D9D;
}

.bv_stateDisplayUpdateTable .valueEditable {
    cursor: pointer;
}