<script type="text/template" id="LotPropertyBulkLoaderView">

    <form class="form-horizontal pull-left">
        <div class="control-group bv_group_overwriteExisting">
            <label class="control-label">Overwrite existing*</label>
            <div class="controls" style="width:300px;">
                <input type="checkbox" name="bv_overwriteExisting" class="bv_overwriteExisting" style="margin-top:-3px;margin-right:2px;" <% if (overwriteExisting=="overwriteExisting") { %> checked="checked"<% }%> >
            </div>
        </div>
    </form>
</script>