div#header, div#footer {
    /*background:#2a4353;*/
    background: #2a4353;
    margin: -5px 0 -6px -25px; /* center, not in IE5 */
    width: 102%;
    position:relative; /* needed for footer positioning*/
}
div#header {
    height: 35px;
    padding-top: 5px;
    z-index: 100;
}
div#footer {
    background: #F7F7F9 !important;
    color: #999999 !important;
    width: 100%;
    position: fixed;
}

#header .webLinkOut {
    width: 140px;
    top: 10px;
    right: 400px;
    position: absolute;
    color: #d5d8dd;
}

#header a.fancy:link, a.fancy:visited, a.fancy:active, a {
    color:#d5d8dd;
    /*     text-decoration:none */
}
#header a.fancy:hover {
    color:#869aa6;
}

#header .loggedInUser {
    width: 140px;
    top: 5px;
    right: 80px;
    position: absolute;
    color: #999999;
}
#header .userLabel {
    top: 5px;
    position: absolute;
    right: 225px;
    color: #999999;
}
#header .logout {
    top: 5px;
    right: 30px;
    position: absolute;
}
#header .logoutLink {
    text-decoration: underline;
    color: #ffffff;
}
div#content .bottomPad {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 10px;
    height: 35px;
}
div#footer {
    clear:both;
    bottom:0; /* stick to bottom */
    background:#2a4353;
    color: #d5d8dd;
    font-size: .8em;
    text-align:right;
}
div#header p, div#footer p {
    padding:1em;
    font-style:italic;
    font-size:1.1em;
    margin:0;
}
div#content {
    position:relative; /* needed for footer positioning*/
    margin: -8px auto;  /*center, not in IE5*/
    width:1000px;
    background: #ffffff;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:610px; /* real browsers */
}
div#content p {
    text-align:justify;
    padding:0 1em;
}
#fixture {
    position: absolute;/*
    top: -10000px;
    left: -10000px;*/
}
/****** GENERAL ******/
html, body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #ffffff;
    /*background-image: url('../images/bg_1.png');*/
    font: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:#000000;
    margin: 0 0 0 10px;
}
a:link, a:visited, a:active, a {
    color:#2a4353;
    /*     text-decoration:none */
}
a:hover {
    color:#869aa6;
}
h1 {
    font:20px Helvetica, sans-serif;
    margin: 20px;
    color: #000000;
    font-weight: 200;
}
h2 {
    font:1.25em Helvetica, sans-serif;
    margin:0 0 0 10px;
}
/*h2, a {
    color: #2a4353;
}*/
p {
    margin:1em 0 0 1em;
    clear:both;
}

.form_title {
    margin-top: 20px;
}

hr {
    background-color:#b8cfe5;
    height:1px;
    border:none;
}
div {
    margin: 5px;
}
.shown {
}
.hidden {
    display: none;
}
.marvinSketch {
    height:300px;
    width: 600px;
    border: 1em solid #d5d8dd;
    background-color: #d5d8dd;
    margin-top: 12px;
}
.buttons { /*Need to rename this class to navigationButtons !!! */
    padding: 10px 0 0 10px;
    width: 705px;
    margin-left: 180px;
    clear: both;
}
.RegSearchResultsView .buttons { /*Need to rename this class to navigationButtons !!! */
    width: 634px;
}
/****** FLOATING PANELS ******/
/****** div#upload-app LOCATED IN MULTIPICKER CSS ******/
.MetaLotView .floatingPanel, .SearchResultsView .floatingPanel {
    position: absolute;
    left: 20px;
    bottom: 140px;
    padding: 5px;
    border: 12px solid #D5D8DD;
    background-color: #EEE;
    cursor: hand;
    z-index: 100;
    /*background-color: white;*/
    /*    -moz-box-shadow: 3px 3px 4px #a7a9ad;
        -webkit-box-shadow: 3px 3px 4px #a7a9ad;
        box-shadow: 3px 3px 4px #a7a9ad;*/
}
.MetaLotView div.floatingPanel.NewLotSuccessView {
    position: absolute;
    left: 20px;
    padding: 5px;
    cursor: hand;
}
.MetaLotView div.floatingPanel.newSaltView {
    cursor: hand;
    width: 620px;
    margin-left: 150px;
}
.MetaLotView div.floatingPanel.newSaltView div {
    height: 20px;
}
.MetaLotView div.floatingPanel.newSaltView .marvinWrapper {
    height: 506px !important;
}
.marvinWrapper iframe {
    height: 500px !important;
}
.marvinContainer iframe {
    height: 500px !important;
}
.MetaLotView div.floatingPanel.NewLotSuccessView {
    cursor: hand;
    width: 400px;
    height: 150px;
    margin-left: 150px;
}
.MetaLotView div.floatingPanel.newIsotopeView {
    cursor: hand;
    width: 325px;
    height: 180px;
    margin-left: 150px;
}
.MetaLotView div.floatingPanel.newIsotopeView div {
    height: 20px;
}
.NewLotSuccessView .labelCorpName {
    margin-left: 10px;
    margin-bottom: 40px;
}
.NewLotSuccessView .labelBuid {
    margin-left: 5px;
}
.NewLotSuccessView .labelCorpName label{
    font-weight: bold;
}
.saveNewIsotopeButton {
    background: no-repeat url('../images/save.png');
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 10px;
    margin-top: 15px;
    border: none;
}
.cancelNewIsotopeButton {
    background: no-repeat url('../images/cancel.png');
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 10px;
    margin-top: 15px;
    border: none;
}
.saveNewSaltButton {
    background: no-repeat url('../images/save.png');
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    border: none;
}
.cancelNewSaltButton {
    background: no-repeat url('../images/cancel.png');
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 10px;
    border: none;
}

.bv_aliasesContainer {
    margin-bottom: 11px;
    margin-left: 0;
}

.aliasesContainerSearch {
    margin-left: 10px;
}

.bv_addAlias {
    position: absolute !important;
    left: 200px !important;
    top: 440px !important;
    bottom: auto !important;
    width: 40em;
    padding: 5px !important;
    border: 12px solid #D5D8DD !important;
    background-color: #EEE !important;
    cursor: hand !important;
    z-index: 100 !important;
    /*background-color: white;*/
    /*    -moz-box-shadow: 3px 3px 4px #a7a9ad;
        -webkit-box-shadow: 3px 3px 4px #a7a9ad;
        box-shadow: 3px 3px 4px #a7a9ad;*/
}
.cancelAddNewAliasOn {
    background: no-repeat url('../images/done.png');
}

.cancelAddNewAliasOff {
    background: no-repeat url('../images/done_off.png');
}

.bv_cancelAddNewAlias {
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 20px;
    margin-left: 300px;
    border: none;
}

.bv_addNewAlias {
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 10px;
    margin-bottom: 0;
    border: none;
}
.addNewAliasOn {
    background: no-repeat url('../images/add.png');
}

.addNewAliasOff {
    background: no-repeat url('../images/add_off.png');
}

.editAliases {
    background: no-repeat url('../images/edit.png');
    /*float:right;*/
    height: 29px;
    width: 35px;
    padding: 25px;
    margin-top: 25px;
    /*
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 10px;
    */
    border: none;
}

.bv_aliasTypeContainer {
    width: 100%;
}

.bv_aliasListContainer {
    display: inline;
}

.addAliasNameTd {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

.addAliasRemoveTd {
    text-align: center;
}

.addAliasNameInput {
    width: 100%;
}

.addAliasRemoveLink {
    cursor: pointer;
}

.bv_aliasReadViewContainer {
    display: inline;
}

.bv_editAliases {
    /*margin-top: 15px;*/
    cursor: pointer;
}

.editAliasesButton {
    height: 20px; width: 20px;
}

.addAliasTable {
    width: 100%;
}

.confirmUpdateParentMessage, .updatedLotsMessage {
    margin-left:11px;
    font-weight:normal;
}

.confirmUpdateParent {
    background: no-repeat url('../images/update.png');
    float: right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right:0px;
    margin-top:0px;
}

.cancelUpdateParent {
    background: no-repeat url('../images/cancel.png');
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right:0px;
    margin-left:320px;
}

.closeParentUpdatedPanel {
    background: no-repeat url('../images/okay.png');
    float: right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right:0px;
    margin-top:0px;
}

/****** ERROR NOTIFICATION ******/

.ErrrorNotificationListView {
    position: absolute;
    bottom: -120px;
    left: 15px;
    z-index: 100;
    width: 400px;
    margin-left: 150px;
    background-color: white;
}
.ErrrorNotificationListView .showHideButton {
    margin-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 4px;
    background-color: #2a4353;
    color: #ffffff;
}
.input_error {
    background-color: #fbd6d0;
    border-color: #f9c5bd;
    border-style: solid;
    border-width: 1px;
}
.errorNotification_error {
    background: no-repeat url('../images/error.png');
    color: #c20016;
    background-color: #fbd6d0;
    font-weight:bold;
    font-style:italic;
    border-color: #f9c5bd;
    border-style: solid;
    border-width: 1px;
    padding: 13px 5px 10px 45px;
    z-index: -100;
}
.errorNotification_warning {
    background: no-repeat url('../images/warning.png');
    color: #ff9a01;
    background-color: #ffffc3;
    font-weight:bold;
    font-style:italic;
    border-color: #fff296;
    border-style: solid;
    border-width: 1px;
    padding: 13px 5px 10px 45px;
    z-index: -100;
}
.errorNotification_info {
    background: no-repeat url('../images/info.png');
    color: #135faa;
    background-color: #b1ccd7;
    font-weight:bold;
    font-style:italic;
    border-color: #87adbb;
    border-style: solid;
    border-width: 1px;
    padding: 13px 5px 10px 45px;
    z-index: -100;
}

.EditParentSearchResultsWarning {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 634px;
}

/****** GLOBAL HEADER ******/

#AppControllerView {
    margin-bottom: 40px;
}

#AppControllerView .NRCwrapper {
}
#AppControllerView .NCRtitle {
    width: 500px;
}
/****** CR LOGIN ******/
#AppControllerView .regAndSearchButtons{
    width:500px;
    margin: 0px auto;
    text-align:center;
    /*    width: 100%;
        margin: auto;
        text-align: center;*/
}
#AppControllerView .regAndSearchButtonsInner{
    display:inline-block;
    margin: 100px 0;
}

#AppControllerView .CRLogIn {
    border: 3px dotted #CCCCCC;
    height: 500px;
    width: 500px;
    margin:0 auto;
}
#AppControllerView a.registerButton, .searchButton {
    background: no-repeat url('../images/register.png');
    display: block;
    float: left;
    height: 79px;
    width: 198px;
    padding: 0 15px 0 15px;
}
#AppControllerView a.searchButton.applicationPage {
    background: no-repeat url('../images/search_magnify.png');
}
#AppControllerView a.searchButton {
    background: no-repeat url('../images/search.png');
}
#AppControllerView .applicationName {
    margin-top: 3px;
    cursor:pointer;
    color: #ffffff;
}

/****** REGISTRATION STEP 1 ******/
.SearchView {
    margin-left: 150px;
}

.RegistrationSearchView, .RegistrationSearchView {
    width: 700px;
    margin-left: 150px;
}
.RegistrationSearchView input.corpName{
    width: 150px;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
}
.RegistrationSearchView label, .RegistrationSearchView label {
    font-weight: bold;
}
.RegistrationSearchView .corpNameInput{
    position: absolute;
    left: 20px;
    top: 560px;
    margin-left: 140px;
}
.RegistrationSearchView a.nextButton, .EditParentSearchView a.nextButton {
    background: no-repeat url('../images/next_step.png');
    height: 27px;
    width: 90px;
    position: absolute;
    left: 760px;
    top: 560px;
}
.RegistrationSearchView a.cancelButton, .EditParentSearchView a.cancelEditButton {
    background: no-repeat url('../images/cancel.png');
    height: 27px;
    width: 90px;
    position: absolute;
    left: 665px;
    top: 560px;
}
/****** REGISTRATION STEP 2 ******/
.RegSearchResultsView .radioWrapper label, .EditParentSearchResultsView .radioWrapper label {
    font-weight: bold;
}
.RegSearchResultsView .ReqStruc .row2 .FormLabel, .EditParentSearchResultsView .ReqStruc .row2 .FormLabel {
    font-weight: bold;
}
.RegSearchResultsView {
    width: 670px;
    margin-left: 150px;
}
.RegSearchResultsView .asDrawnStructure, .EditParentSearchResultsView .asDrawnStructure {
    /*width: 600px; original width set by John*/
    width: 620px;
    height: 315px;
    border: 2px solid #D5D8DD;
    margin-left: 0px;
}

.ParentView .parentImageWrapper {
    width: 620px;
    height: 315px;
    border: 2px solid #D5D8DD;
    margin-left: 0px;
}

/*parentImageWrapper */

.RegSearchResultsView .asDrawnStructure .copyButtonWrapper, .EditParentSearchResultsView .asDrawnStructure .copyButtonWrapper {
    margin-bottom: 10px;
}

.RegSearchResultsView .asDrawnStructure .molCopyTextArea, .EditParentSearchResultsView .asDrawnStructure .molCopyTextArea {
    width: 605px;
    height: 260px;
}

.RegSearchResultsView .asDrawnStructure .copyPanelCloseButton, .EditParentSearchResultsView .asDrawnStructure .copyPanelCloseButton {
    margin-right: 14px;
}

.RegSearchResultsView .ReqStruc, .EditParentSearchResultsView .ReqStruc {
    margin-left: 10px;
    width: 688px;
    height: 388px;
    /*padding-bottom: 28px;*/
}
.RegSearchResultsView .FormLabel {
    width: 10em; /*spacing between labels and input fields*/
    text-align: left;
}
.RegSearchResultsView .radioWrapper, .EditParentSearchResultsView .radioWrapper {
    display: block;
    width: 300px;
}

.RegSearchResultsView .row1, .EditParentSearchResultsView .row1 {
    text-align: left;
    float: left;
    width: 65px;
    margin-top: 8px;
}
.RegSearchResultsView .row2, .EditParentSearchResultsView .row2 {
    text-align: left;
    float: left;
    width: 190px;
    margin-top: 7px;
}
.RegSearchResultsView .row3 {
    text-align: left;
    float: left;
    width: 161px;
}
.RegSearchResultsView .row3 .asDrawnMolWeight, .EditParentSearchResultsView .row3 .asDrawnMolWeight {
    width: 100px;
}
.RegSearchResultsView .row3-1 {
    text-align: left;
    float: left;
    width: 190px;
}

 .EditParentSearchResultsView .row3 {
   text-align: left;
   float: left;
   width: 190px;
 }

.EditParentSearchResultsView .row3-1 {
  text-align: left;
  float: left;
  width: 190px;
}

.EditParentSearchResultsView .FormLabel {
  width: 80px !important;
  margin-top: 0 !important;
}

.row4 {
    text-align: left;
    float: left;
    width: 207px;
}

.row5 {
    text-align: left;
    float: left;
}
.row5 input {
    width: 96px;
}

.RegSearchResultsView input.asDrawnMolWeight, .asDrawnMolFormula, .EditParentSearchResultsView input.asDrawnMolWeight, .asDrawnMolFormula {
    width: 96px;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
}
/* .RegSearchResults_ParentListView  */input.stereoComment {
                                           width: 86px;
                                       }
/* .RegSearchResults_ParentListView  */input.commonName {
                                           width: 86px;
                                       }

.RegSearchResultsView .saltFormCorpNames, .EditParentSearchResultsView .saltFormCorpNames {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.RegSearchResults_ParentListView, .RegSearchResults_ParentListView {
    position: relative;
    width: 670px;
    /*    overflow: auto;*/
}
.RegSearchResults_ParentView {
    margin-bottom: 10px;
    height: 435px;
}

.RegSearchResultsView .parentImageWrapper, .EditParentSearchResultsView .parentImageWrapper {
    width: 620px;
    height: 315px;
    border: 2px solid #D5D8DD
}

.RegSearchResultsView .parentImageWrapper .copyButtonWrapper, .EditParentSearchResultsView .parentImageWrapper .copyButtonWrapper {
    margin-bottom: 10px;
}

.RegSearchResultsView .parentImageWrapper .molCopyTextArea, .EditParentSearchResultsView .parentImageWrapper .molCopyTextArea {
    width: 605px;
    height: 260px;
}

.RegSearchResultsView .parentImageWrapper .copyPanelCloseButton, .EditParentSearchResultsView .parentImageWrapper .copyPanelCloseButton {
    margin-right: 14px;
}

.parentImage {
    border-style: solid;
    border-width: 2px;
    border-color: #d5d8dd;
}


.RegSearchResultsView a.nextButton, .cancelButton, .EditParentSearchResultsView a.nextButton, .cancelEditButton {
    background: no-repeat url('../images/next_step.png');
    float: right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
}

.RegSearchResultsView a.nextButton, .EditParentSearchResultsView a.nextButton {
    margin-right: 190px;
}

.RegSearchResultsView a.cancelButton, .EditParentSearchResultsView a.cancelEditButton {
    background: no-repeat url('../images/cancel.png');
}
.RegSearchResultsView a.backButton, .EditParentSearchResultsView a.backToSearchButton {
    background: no-repeat url('../images/back.png');
}
.ParentView .br {
    clear:both;
}
/*.RegSearchResultsView .chemist {
    visibility:hidden;
    display:none;
    } */

/****** REGISTRATION STEP 3 ******/
/*** PARENT STRUCTURE ***/

.MetaLotView {
    width: 700px;
    margin-left: 150px;
}
.MetaLotView .LotForm_ParentView {
}

.LotForm_ParentView .parentImageWrapper {
    width: 620px;
    height: 315px;
    border: 2px solid #D5D8DD;
    margin-left: 15px;
}

.LotForm_ParentView .parentImageWrapper .copyButtonWrapper {
    margin-bottom: 10px;
}

.LotForm_ParentView .parentImageWrapper .molCopyTextArea {
    width: 605px;
    height: 260px;
}

.LotForm_ParentView .parentImageWrapper .copyPanelCloseButton {
    margin-right: 14px;
}

.MetaLotView .row4 .row5{
    margin-left: 13px;
}
.LotForm_ParentView .row4 .row5 {
    margin-left: 7px;
}

.LotForm_ParentView .parentStructureForm {
    margin-left: 30px !important;
}

.LotForm_ParentView .parentComments {
    width:800px;
}
.LotForm_ParentView .parentComments .FormInput {
    border-color:#d2d2d2;
}

.MetaLotView .rightPane {
    /*    position: absolute;
        bottom: 380px;
        left: 392px;*/
    float: right;
    margin-right: 48px;
}

.MetaLotView .rightPane .FormLabel {
    width: 80px;
}
.MetaLotView a.addSaltButton, .MetaLotView a.addIsotopeButton {
    height: 27px;
    width: 90px;
    padding: 10px 0px 10px 2px;
    margin: 0px 0px 0px 8px;
    /*    float: right;*/
}

.MetaLotView .addIsosaltButtons {
    margin-left: 156px;
    margin-top: 25px;
    height: 27px;
}
.MetaLotView .casNumberDiv {
    /*position: absolute;
    float: left;
    /*bottom: 450px;
    left: 344px;*/
    margin-right: 15px;
    /*margin-right: 20px;*/
}
.MetaLotView a.addSaltButton {
    background: no-repeat url('../images/new_salt.png');
    width: 90px;
    height: 27px;
    /*position: absolute;
    bottom: 347px;
    left: 560px;*/
    display: block;
}
.MetaLotView a.addIsotopeButton {
    background: no-repeat url('../images/new_isotope.png');
    width: 90px;
    height: 27px;
    /*position: absolute;
    bottom: 347px;
    left: 460px;*/
    display: block;
}
.MetaLotView .FormLabel {
    display: block;
    float: left;
    width: 133px;
    padding: 0 10px 0 0;
    margin: 5px 0 0;
    text-align: right;
}

.MetaLotView .VialBarcodeAttr, .MetaLotView .LotCommentsAttr {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    margin: 0px 0 0;
    text-align: right;
}
.MetaLotView .FormInput {
    margin: 5px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d2;
}

.MetaLotView .VialBarcodeFormInput {
    width: 472px;
    /*border-color: yellow;*/
    border-style: solid;
    border-color: #d2d2d2;
    border-width: 1px;
}

.MetaLotView .LotCommentsFormInput {
    width: 472px;
    border-color: #d2d2d2;
}

.MetaLotView .vialBarcodeContainer, .MetaLotView .lotCommentsContainer {
    width: 800px;
}

.MetaLotView .saltFormImage {
    border-style: solid;
    border-width: 2px;
    border-color: #d5d8dd;
    margin-left: 10px;
    width: 620px;
    height: 315px;
}


.MetaLotView .saltFormImage .copyButtonWrapper {
    margin-bottom: 10px;
}

.MetaLotView .saltFormImage .molCopyTextArea {
    width: 605px;
    height: 260px;
}

.MetaLotView .saltFormImage .copyPanelCloseButton {
    margin-right: 14px;
}
.LotForm_SaltFormView iframe {
    height: 500px;
}

.EnterIsoHeader {
    text-align: left;
    clear: both;
    padding-top: 10px;
}
.FormLabel2 {
    width: 10em;
    text-align: left;
}
.MetaLotView .row1 {
    float: left;
    text-align: left;
}
.MetaLotView .row2 {
    text-align: left;
}
select.FormInput.stereoCategoryCode {
    width: 96px;
}
/*
.MetaLotView input.FormInput.stereoComment, .commonName {
    width: 153px;
}
*/
/*** SALTS ***/


.MetaLotView .marvinSize {
    width: 600px;
    height: 300px;
    display: none;
}
.isosaltEquivListView {
    margin-top: 15px;
    margin-left: 10px;
}
select.FormInput.isosalts {
    width: 145px;
}
.MetaLotView .isosaltEquivListView .equivalents {
    width: 20px;
}

.MetaLotView .isosaltEquivListView .isosaltsField {
    width: 145px;
}

input.casNumber {
    width: 145px;
    margin-right: -8px;
}

/*** PROPERTIES ***/
.MetaLotView .LotForm_LotView {
    width: 700px;
    margin-top: 20px;
}
/*** CHEMIST COLUNM ***/
.MetaLotView .LotForm_LotViewChem {
    float:left;
}
select.FormInput.chemist, .FormInput.physicalStateCode {
    width: 160px;
}
input.FormInput.supplier, .FormInput.supplierID, .FormInput.percentEE, .FormInput.lotNumber {
    width: 160px;
}
.MetaLotView .notForVirtual3 {
    clear:both;
    padding:5px;
}
.formInput.comments, .formInput.notebookPage, .formInput.lotMolWeight, .formInput.meltingPoint {
  width: 160px;
}


/*** SYNTH DATE COLUMN ***/

.MetaLotView .LotForm_LotViewSynth {
    margin-top: 13px;
}
input.FormInput .hasDatepicker, .color {
    width: 160px;
}
input.FormInput.amount, .FormInput.retain, .FormInput.purity, .FormInput.solutionAmount {
    width: 108px;
}
select.FormInput.purityMeasuredByCode, .FormInput.vendorCode {
    width: 160px;
}
select.FormInput.amountUnitsCode, .FormInput.retainUnitsCode, .FormInput.purityOperatorCode, .FormInput.solutionAmountUnitsCode {
    width: 48px;
}

.formInput.synthesisDate, .formInput.supplierLot {
  width: 160px;
}

.formInput.boilingPoint {
  width: 160px !important;
}

/*** ANALYTICAL FILES ***/
div.analyticalFiles {
    margin-left: 12px;
}
.notForVirtual3 .analyticalFiles {
    margin-left: 145px;
    clear: both;
    margin-top: -16px;
    float: left;
    /*margin-left: 133px;
    clear: both;
    margin-top: -20px;
    float: left;*/
}
/*** BUTTONS ***/
div.MetaLotViewButtons.buttons {
    margin-top: 20px;
    width: 636px;
}
.MetaLotViewButtons a.cancelButton, a.saveButton, a.backButton, a.newLotButton, a.detailsButton, a.editAnalyticalFiles, a.editLotButton, a.closeButton, a.backToSearchButton {
    float: right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
}
.MetaLotViewButtons a.saveButton {
    background: no-repeat url('../images/save.png');
    margin-right: 170px;
}
.MetaLotViewButtons a.cancelButton {
    background: no-repeat url('../images/cancel.png');
}
.MetaLotViewButtons a.newLotButton {
    background: no-repeat url('../images/new_lot.png');
}
.MetaLotViewButtons a.updateImage {
    background: no-repeat url('../images/update.png');
}
.MetaLotViewButtons a.backButton {
    background: no-repeat url('../images/back.png');
}
.MetaLotViewButtons a.editLotButton {
    background: no-repeat url('../images/edit_this_lot.png');
}
.MetaLotViewButtons a.closeButton {
    background: no-repeat url('../images/close.png');
    /*    margin-right: 8px;*/
}
.MetaLotViewButtons a.closeImage {
    background: no-repeat url('../images/close.png');
    /*    margin-right: 8px;*/
}
/****** DETAILS LOT VIEW ******/

.LotForm_LotView a.editAnalyticalFiles {
    background: no-repeat url('../images/view_edit_files.png');
    position: absolute;
    left: 556px;
    bottom: 40px;
    margin-left: 150px;
    /*
        margin-top: 5px;
        margin-left: 15px;
        float: left;
    */
}
.LotForm_LotView .upload-app {
    background-color: green;
}


/****** SEARCH RESULTS ******/
.SearchResultsView {
    width: 700px;
    /*height: 160px;*/
}
.SearchResultsView .resultList {
    position: relative;
    left: 5px;
    top: 0px;
    /*position: absolute;
    top: 50px;
    left: 13px;*/
    /*overflow: auto;*/
    /*height: 545px;*/
    width: 664px;
    border: solid;
    border-width: 2px;
    border-color: #d5d8dd;
}
.SearchResultsView .buttons {
    position: absolute;
    top: 5px;
    left: -55px;
}
.SearchResultsView .searchResult {
    margin-bottom: 5px;
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #d5d8dd;
}

.SearchResultsView .resultImageWrapper {
    margin-top: 50px;
}

.SearchResultsView .resultImageWrapper .copyTextPanel .molCopyTextArea {
    width: 624px;
}

.SearchResultsView .resultImageWrapper .copyTextPanel .copyPanelCloseButtonWrapper {
    width: 625px;
}

.SearchResultsView .resultImage {
    height: 300px;
    width: 600px;
}

.SearchResultsView .searchResultButtons {
    width: 630px;
    margin-top: -13px;
    margin-left: 15px;
}
.SearchResultsView .corpName {
    float:left;
}
.SearchResultsView a.newLotButton {
    background: no-repeat url('../images/new_lot.png');
    z-index: 100;
}
.SearchResultsView a.detailsButton {
    background: no-repeat url('../images/details.png');
    z-index: 100;
}

.SearchResultsView .mixture {
    margin: -1px 5px 5px 20px;
    float:left;
}
.SearchResultsView .corpName {
    margin-top: -2px;
}
.SearchResultsView .lotSelect {
    margin-left: 15px;
}
.SearchResultsView a.backButton, a.closeButton, a.exportButton {
    float: right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
}
.SearchResultsView a.backButton {
    background: no-repeat url('../images/back.png');
}
.SearchResultsView a.closeButton {
    background: no-repeat url('../images/close.png');
}
.SearchResultsView a.exportButton {
    background: no-repeat url('../images/export_sdf.png');
}

.searchResultHeader {
    margin-top: 20px;
}

.bv_downloadSearchResultsSdf {
    position: absolute !important;
    left: 200px !important;
    top: 50px !important;
    bottom: auto !important;
    width: 40em;
    padding: 5px !important;
    border: 12px solid #D5D8DD !important;
    background-color: #EEE !important;
    cursor: hand !important;
    z-index: 100 !important;
}

.bv_closeExportSDF {
    float:right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    margin-right: 20px;
    margin-left: 300px;
    border: none;
}

.closeExportSDF {
    background: no-repeat url('../images/close.png');
}


/****** SEARCH FORM VIEW ******/
.SearchFormView .StructureMain {
    width: 800px;
    margin-top: 20px;
}
.registrationSearchMarvinSize {
    width: 600px;
    height: 300px;
    display: none;
}
.SearchFormView {
    height: 600px;
}
.SearchFormView .marvinContainer {
    position: absolute;
    left: 20px;
    top: 30px;
    margin-top: 20px;
    margin-left: 150px;
}
.SearchFormView .CSfields {
    position: absolute;
    top: 575px;
    margin-left: 10px;
    height: 200px;
}
.SearchFormView .StructureMainOpt {
    position: absolute;
    top: 575px;
    margin-left: 460px;
}
.SearchFormView .aliasContSelect {
    margin-left: 134px;
}
.SearchFormView input.FormInput.dateFrom.hasDatepicker {
    margin-left: 40px;
}
.SearchFormView select.FormInput.chemist {
    margin-left: 115px;
}
.SearchFormView input.FormInput.corpNameFrom, input.FormInput.corpNameTo, .alias, input.FormInput.dateTo.hasDatepicker, input.FormInput.dateFrom.hasDatepicker {
    width: 101px;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
}

.SearchFormView .corpNameLabel {
    float: left;
    width: 166px;
}

/*.SearchFormView input.FormInput.corpNameFrom {
    margin-right: 50px;
    width: 96px;
    float: left;
}

.SearchFormView input.FormInput.corpNameTo {
    margin-right: 50px;
    width: 96px;
    float: left;
}*/

.SearchFormView select.FormInput.aliasContSelect {
    width: 102px;
}
.SearchFormView select.FormInput.chemist {
    width: 223px;
}
.SearchFormView .percentSimilarity {
    width: 30px;
    border-color: #d2d2d2;
    border-style: solid;
    border-width: 1px;
}
.SearchFormView a.searchButton {
    background: no-repeat url('../images/search.png');
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    position: absolute;
    bottom: -75px;
    left: 680px;
}
.SearchFormView a.cancelButton {
    background: no-repeat url('../images/cancel.png');
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
    position: absolute;
    bottom: -75px;
    left: 585px;
}

/*Disabled Fields Color Code*/
[disabled] {
    background-color: #EEE;
}


.sketcher-frame {
    margin: -2px;
    resize: none;
    min-width: 600px;
    min-height: 500px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*** StructureImgae  ****/
.structWrapper {
    position: relative;
    left: 0;
    top: 0;
}
.structImageWrapper {
    position: relative;
    top: 0;
    left: 0;
}
.copyButtonWrapper {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.copyTextPanel{
    width: 600px;
    height: 313px;
}
.copyTextPanel a.copyPanelCloseButton {
    background: no-repeat url('../images/close.png');
    float: right;
    height: 27px;
    width: 90px;
    /*padding: 10px 5px 0px 5px;*/
}

.copyPanelCloseButtonWrapper {
    margin-top: 2px;
    width: 620px;
}

.molCopyTextArea {
    resize: none;
}

.hide {
    display: none;
}

.editParentButtonWrapper a.editParentButton {
    background: no-repeat url('../images/edit_parent.png');
    float: right;
    height: 27px;
    width: 90px;
    padding: 0px 0px 0px 0px;
    margin: 5px 60px 0 0;

}

.EditParentViewButtons .bv_saveUpdateParentButton, .bv_cancelUpdateParentButton, .bv_backUpdateParentButton {
    float: right;
    height: 27px;
    width: 90px;
    padding: 10px 5px 0px 5px;
}
.EditParentViewButtons a.saveUpdateParentButtonOn {
    background: no-repeat url('../images/save.png');
    margin-right: 170px;
}
.EditParentViewButtons a.saveUpdateParentButtonOff {
    background: no-repeat url('../images/save_off.png');
    margin-right: 170px;
}
.EditParentViewButtons a.cancelUpdateParentButtonOn {
    background: no-repeat url('../images/cancel.png');
}
.EditParentViewButtons a.cancelUpdateParentButtonOff {
    background: no-repeat url('../images/cancel_off.png');
}
.EditParentViewButtons a.backUpdateParentButtonOn {
    background: no-repeat url('../images/back.png');
}
.EditParentViewButtons a.backUpdateParentButtonOff {
    background: no-repeat url('../images/back_off.png');
}

.ConfirmEditParentPanel .floatingPanel {
  left: 260px;
}

.ParentUpdatedPanel .floatingPanel {
  left: 260px;
}

.EditParentStepThreeTitle {
  margin-left: 15px;
}
