.loginContainer {
    padding-top: 40px;
}

.loginDivider {
    border-color: #DADADA;
    color: #DADADA;
    background-color: #DADADA;
}

.forgotPasswordLink {
    margin-left: 10px !important;
}

.loginError {
    width: auto;
}

.loginLink {
    margin-left: 10px !important;
}