extends layout
block content
    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                a.brand(href="#{logoLink}") #{logoText}

    div.container.loginContainer
        div.span8.offset1
            h3 #{permissionDeniedText}
            div.alert.alert-danger Sorry, you were denied permission to ACAS, please contact your administrator with the error message below.
        - if (message != "")
            div.span7.offset1.alert.alert-error.loginError #{message}
