extends layout
block content
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href="#{logoLink}") #{logoText}

    div.container.loginContainer
        div.col-md-8.col-md-offset-1
            h3 #{permissionDeniedText}
            div.alert.alert-danger Sorry, you were denied permission to ACAS, please contact your administrator with the error message below.
        - if (message != "")
            div.col-md-7.col-md-offset-1.alert.alert-danger.loginError #{message}
