doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        link(rel='stylesheet', href='/lib/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.css')
        link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.css')
        script(type='text/javascript', src="https://appsforoffice.microsoft.com/lib/1.0/hosted/office.js")
        script(type='text/javascript', src="/lib/json2.js")
        script(type='text/javascript', src="/lib/jquery-ui-1.10.2.custom/js/jquery-1.9.1.js")
        script(type='text/javascript', src="/lib/underscore.js")
        script(type='text/javascript', src="/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js")
        script(type='text/javascript', src="/lib/backbone-min.js")
        include ../public/html/ExcelApp/ExcelApp.html
        script(type='text/javascript', src="/javascripts/src/ExcelApp/ExcelApp.js")

    body
        script
            window.AppLaunchParams = !{JSON.stringify(AppLaunchParams)};
        div( class="bv_excelAppView" )
