
<script type="text/template" id="AttributesControllerView">
    <div class="bv_insertColumnHeadersClickZone col-xs-6">
        <input type="checkbox" name="bv_insertColumnHeaders" class="bv_insertColumnHeaders" style="margin-right:10px;" <% if (insertColumnHeaders) { %> checked="checked"<% }%> />Insert Column Headers
    </div>
    <div class="bv_includeRequestedIDClickZone col-xs-5">
        <input type="checkbox" name="bv_includeRequestedID" class="bv_includeRequestedID" style="margin-right:10px;" <% if (includeRequestedID) { %> checked="checked"<% }%> />Include Requested ID
    </div>
</script>

<script type="text/template" id="PropertyDescriptorControllerView">
    <div class="bv_propertyDescriptorCheckboxClickZone col-xs-3" style="width:250px;">
        <input type="checkbox" class="bv_propertyDescriptorCheckbox" style="margin-right:10px;" <% if (isChecked) { %> checked="checked"<% }%> />
        <label class="bv_descriptorLabel" style="margin-bottom:5px;font-weight: normal !important;" data-toggle="tooltip" data-placement="right" title="Some descriptor tooltip">Some Descriptors</label>
    </div>
</script>

<script type="text/template" id="PropertyDescriptorListControllerView">
    <div style="margin-bottom:10px;margin-top:0px;">
        <div class="col-xs-3 bv_propertyDescriptorListControllerCollapser" style="width:250px;margin-right:0px;padding-left:0px;">
            <h4 class="col-xs-8 propertyDescriptorListControllerTitle" style="margin-right:0px;padding-right:0px">Descriptors</h4>
            <i class="bv_collapseDown glyphicon glyphicon-triangle-bottom" style="padding-top:12px;"></i>
            <i class="bv_collapseExpand glyphicon glyphicon glyphicon-triangle-right hide" style="padding-top:12px;"></i>
        </div>
        <div style="padding-top:8px;">
            <button type="button" class="btn-link bv_checkAll glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title="Check all"></button>
            <button type="button" class="btn-link bv_invert glyphicon glyphicon-transfer" data-toggle="tooltip" data-placement="top" title="Invert selection"></button>
            <button type="button" class="btn-link bv_uncheckAll glyphicon glyphicon-unchecked" data-toggle="tooltip" data-placement="top" title="Uncheck all"></button>
        </div>
    </div>
    <div class="bv_propertyDescriptorList row show-grid" style="margin-left:1px;"/>
</script>

<script type="text/template" id="ExcelInsertCompoundPropertiesView">
    <div class="well" style="width:510px;padding-bottom:40px;padding-top:5px;">
        <div style="padding-bottom:5px;" >
            <div class="row">
                <a class = "pull-left col-xs-3" href="/excelApps">< Excel Apps</a>
                <label class="bv_title col-xs-7" style="padding-left:45px;"></label>
                <div class="col-xs-2">
                    <a tabindex="0" class="pull-right bv_instructions" data-placement="left" style="padding:0px;" type="button" data-toggle="instructions" data-trigger="focus" title="Instructions"><i class="glyphicon glyphicon-info-sign"style="margin-top:2px;"></i></a>
                    <a tabindex="1" class="pull-right bv_options" data-placement="left" style="padding:0px;" type="button" data-toggle="options" data-trigger="focus" title="Options"><i class="glyphicon glyphicon-cog"style="margin-top:2px;margin-right:10px"></i></a>
                </div>
            </div>
            <div class="row bv_attributes" style="margin-top:10px;">Attributes</div>
            <div class="row bv_batchProperties">Batch Properties</div>
            <div class="row bv_parentProperties">Parent Properties</div>
        </div>
        <div>
            <button class="btn btn-primary bv_getProperties" disabled="disabled" style="margin-bottom:3px;float:left;">Get Properties</button>
            <div class="bv_propertyLookUpStatus pull-right" style="margin-top:9px;"></div>
        </div>
    </div>
    <div style="width:510px;">
        <button class="btn btn-primary bv_insertProperties" disabled="disabled" style="margin-bottom:20px;float:right;">Insert Properties</button>
    </div>
    <div class="alert alert-danger bv_errorStatus hide" style="padding-top:6px;padding-bottom:6px;width:370px;">Error</div>
</script>

<script type="text/template" id="ExcelAppLoggerView">
    <div class="col-xs-4" style="width:510px;">
        Log: <button class="btn btn-default bv_clearLog">Clear</button>
        <div class="bv_logEntries"></div>
    </div>
</script>

