<script type="text/template" id="PrimaryScreenExperimentView" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="tabbable span8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">General Information</a></li>
                <li><a href="#tab3" data-toggle="tab">Data Analysis</a></li>
                <!--<li><a href="#tab5" data-toggle="tab">Model Fit</a></li>-->
            </ul>

            <div class="tab-content span12">

                <!-- GENERAL INFORMATION TAB -->
                <div class="tab-pane active bv_experimentBase" id="tab1"></div>

                <!-- DATA ANALYSIS TAB -->
                <div class="tab-pane bv_primaryScreenDataAnalysis" id="tab3" style="overflow:hidden;"></div>


                <!--&lt;!&ndash; CURVE FIT ANALYSIS TAB &ndash;&gt;-->
                <!--<div class="tab-pane bv_doseResponseAnalysis" id="tab5"></div>-->

            </div>
        </div>
    </div>


</script>

		<!--TODOX: bv_moduleTitle needs to be smaller; padding below module loader needs to be reduced. -->


<script type="text/template" id="PrimaryScreenAnalysisParametersView" xmlns="http://www.w3.org/1999/html">

    <div class="bv_autofillSection"></div>
</script>

<script type="text/template" id="PrimaryScreenAnalysisParametersAutofillView" xmlns="http://www.w3.org/1999/html">

    <div class="control-group bv_group_htsFormat" style="margin-left:35px;margin-bottom:20px;">
        <label class="control-label checkbox" style="width:200px;padding-left:0;">
            <input type="checkbox" name="bv_htsFormat" class="bv_htsFormat" <% if (htsFormat) { %> checked="checked"<% }%> />Save data in HTS format
        </label>
    </div>

    <div class="span12">
        <h5>Standards</h5>
        <div class="">
            <div class="pull-left">
                <div>*Positive Control</div>
                <form class="bv_group_positiveControlBatch control-group pull-left">
                    <input class="input-medium bv_positiveControlBatch" value="<%=positiveControl.get('batchCode')%>" type="text" placeholder="enter batch number" value="">
                </form>
                <form class="bv_group_positiveControlConc control-group pull-right" style="padding-left:10px;">
                    <input class="input-mini bv_positiveControlConc" value="<%=positiveControl.get('concentration')%>" type="text" placeholder="Conc uM:" value="">
                    &micro;M
                </form>
            </div>

            <div class="pull-left" style="">
                <div style="padding-left:40px;">*Negative Control</div>
                <form class="bv_group_negativeControlBatch control-group pull-left" style="padding-left:40px;">
                    <input class="input-medium bv_negativeControlBatch" value="<%=negativeControl.get('batchCode')%>" type="text" placeholder="enter batch number" value="">
                </form>
                <form class="bv_group_negativeControlConc control-group pull-right" style="padding-left:10px;">
                    <input class="input-mini bv_negativeControlConc" value="<%=negativeControl.get('concentration')%>" type="text" placeholder="Conc uM:" value="">
                    &micro;M
                </form>
            </div>

        </div>

        <div class="">
            <div class="pull-left">
                <div>Agonist</div>
                <form class="bv_group_agonistControlBatch control-group pull-left">
                    <input class="input-medium bv_agonistControlBatch" value="<%=agonistControl.get('batchCode')%>" type="text" placeholder="enter batch number" value="">
                </form>
                <form class="bv_group_agonistControlConc control-group pull-right" style="padding-left:10px;">
                    <input class="input-mini bv_agonistControlConc" value="<%=agonistControl.get('concentration')%>" type="text" placeholder="Conc uM:" value="">
                    &micro;M
                </form>
            </div>

        <div class="pull-left">
            <div style="padding-left:40px;">Vehicle Control</div>
                <form class="bv_group_vehicleControlBatch control-group" style="padding-left:40px;">
                    <input class="pull-left bv_vehicleControlBatch" style="width:258px;" value="<%=vehicleControl.get('batchCode')%>" type="text" placeholder="enter batch number">
                </form>
            </div>
        </div>
	</div>

    <hr class="span12" style="margin-left:0px;width:593px;margin-right:50px;margin-top:12px;margin-bottom:0px;" />


    <h5>Assay Parameters</h5>


    <div class="form-horizontal">
        <div class="control-group bv_group_dilutionFactor">
            <label class="control-label radio" style="width:100px;padding-left:39px;">
                <input type="radio" name="bv_volumeType" value="dilution" class="bv_volumeTypeDilution" <% if (volumeType=="dilution") { %> checked="checked"<% }%> />Dilution Factor
            </label>
            <div class="controls" style="padding-left:0;">
                <input class="bv_dilutionFactor" style="width:335px;" value="<%=dilutionFactor%>" type="text" <% if (volumeType!="dilution") { %> disabled="disabled"<% }%> />
            </div>
        </div>
        <div class="control-group bv_group_transferVolume">
            <label class="control-label radio" style="width:110px;padding-left:30px;">
                <input type="radio" name="bv_volumeType" value="transfer" class="bv_volumeTypeTransfer" <% if (volumeType=="transfer") { %> checked="checked"<% }%> />Transfer Volume
            </label>
            <div class="controls" style="padding-left:0;">
                <input class="bv_transferVolume" style="width:335px;" value="<%=transferVolume%>" type="text" <% if (volumeType!="transfer") { %> disabled="disabled"<% }%>>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="control-group bv_group_assayVolume">
            <label class="control-label">Assay Volume</label>
            <div class="controls">
                <input class="bv_assayVolume" value="<%=assayVolume%>" type="text" style="width:335px;"> </input>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="control-group bv_group_instrumentReader" style="margin-bottom:25px;">
            <label class="control-label">Instrument Reader</label>
            <div class="controls">
                <select class="bv_instrumentReader" style="width:349px;">
               </select>
            </div>
        </div>
    </div>


    <span style="margin-left:6px;margin-bottom:5px;">Read Position</span>
    <span style="margin-left:90px;margin-bottom:5px;">Read Name</span>
    <span class="bv_group_matchReadName">
            <span class="checkbox pull-right" style="width:160px;padding-left:100;margin-right:80px;">
                <input type="checkbox" name="bv_matchReadName" class="bv_matchReadName" style="margin-right:10px;" <% if (matchReadName) { %> checked="checked"<% }%> />Match Read Name
            </span>
    </span>
    <div class="bv_readList"></div>


    <hr class="span12" style="margin-left:0px;width:593px;margin-right:50px;margin-bottom:0px;margin-top:25px;" />

    <h5>Analysis Parameters</h5>
    <div class="form-horizontal">
        <div class="control-group bv_group_signalDirectionRule">
            <label class="control-label">*Signal Direction</label>
            <div class="controls">
                <select class="bv_signalDirectionRule" style="width:349px;"></select>
            </div>
        </div>
        <div class="control-group bv_group_aggregateBy1">
            <label class="control-label">*Aggregate By</label>
            <div class="controls">
                <span class="bv_group_aggregateBy1">
                    <select class="bv_aggregateBy1" style="width:245px;"> </select>
                </span>
                <span class="bv_group_aggregateBy2">
                    <select class="bv_aggregateBy2" style="width:100px;"></select>
                </span>
            </div>
        </div>
        <div class="control-group bv_group_normalizationRule">
            <label class="control-label" style="width:100px;margin-left:40px;">*Normalization</label>
            <div class="controls">
                <!--<div class="bv_normalizationRule"></div>-->
                <select class="bv_normalizationRule" style="width:349px;">
                </select>
            </div>
        </div>
    </div>
    <span style="margin-left:39px;">*Transformation
    <span class="bv_transformationList"></span>
    </span>

    <hr class="span12" style="margin-left:0px;width:593px;margin-right:70px;margin-bottom:0px;margin-top:25px;" />


    <h5>Hit Selection Parameters</h5>
    <div class="control-group bv_group_autoHitSelection" style="margin-left:20px;margin-bottom:20px;">
        <label class="control-label checkbox" style="width:200px;padding-left:0;">
            <input type="checkbox" name="bv_autoHitSelection" class="bv_autoHitSelection" <% if (autoHitSelection) { %> checked="checked"<% }%> />Automatic Hit Selection
        </label>
    </div>
    <div class="form-horizontal">
        <div class="bv_thresholdControls">
            <div class="control-group bv_group_hitEfficacyThreshold">
                <label class="control-label radio" style="width:145px;padding-left:30px;">
                    <input type="radio" name="bv_thresholdType" value="efficacy" class="bv_thresholdTypeEfficacy" <% if (thresholdType=="efficacy") { %>checked="checked"<% }%> />*Hit Efficacy Threshold
                </label>
                <div class="controls" style="padding-left:35px;">
                    <input class="bv_hitEfficacyThreshold" style="width:335px;" value="<%=hitEfficacyThreshold%>" type="text" <% if (thresholdType!="efficacy") { %> disabled="disabled"<% } %>>
                </div>
            </div>
            <div class="control-group bv_group_hitSDThreshold">
                <label class="control-label radio" style="width:115px;padding-left:59px;">
                    <input type="radio" name="bv_thresholdType" value="sd" class="bv_thresholdTypeSD" <% if (thresholdType=="sd") { %> checked="checked"<% }%> />*Hit SD Threshold
                </label>
                <div class="controls" style="padding-left:35px;">
                    <input class="bv_hitSDThreshold" style="width:335px;" value="<%=hitSDThreshold%>" type="text" <% if (thresholdType!="sd") { %> disabled="disabled"<% }%> />
                </div>
            </div>
        </div>
    </div>


    <!--<hr class="span12" style="margin-left:0px;width:593px;margin-right:70px;margin-bottom:0px;margin-top:6px;" />-->
<!---->
    <!--<h5 style="margin-bottom:27px;">Upload Data and Analyze</h5>-->


</script>


<script type="text/template" id="PrimaryScreenAnalysisView" xmlns="http://www.w3.org/1999/html">

    <h5>
        <span>Analysis Status:</span>
        <span class="bv_analysisStatus"></span>
    </h5>
    <div class="bv_fileUploadWrapper"></div>

    <div class="bv_resultsContainer">
        <h5>Results:</h5>
        <div class="bv_analysisResults span10 well well-small" style="padding-left:20px;">
            <div class="bv_analysisResultsHTML"></div>
        </div>
    </div>
    <div class="bv_saveExperimentToAnalyze span10">To analyze data, save the experiment</div>


</script>

<script type="text/template" id="PrimaryAnalysisReadView" xmlns="http://www.w3.org/1999/html">

    <div class="form-inline span10" style="margin-bottom:5px;margin-top:5px;">

        <span class="control-group bv_group_readPosition">
            <input class="span1 bv_readPosition" style="margin-right:10px;margin-left:20px;width:50px;" value="<%=readPosition%>" type="text">
        </span>
        <span class="control-group bv_group_readName">
            <select class="span6 bv_readName" style="margin-right:10px;width:355px;"></select>
        </span>
        <span class="bv_group_activity">
            <label class="control-label radio" style="width:80px;padding-left:0;">
            <input type="radio" name="bv_activity" class="bv_activity" style="margin-right:10px;margin-top:2px;" <% if (activity) { %> checked="checked"<% }%> />Activity
        </label>
        </span>
        <button class="close bv_delete" style="margin-top:1px;">&times;</button>

    </div>
</script>

<script type="text/template" id="PrimaryAnalysisReadListView" xmlns="http://www.w3.org/1999/html">
    <div class="bv_readInfo"></div>
    <button class="btn bv_addReadButton" style="margin-left:465px;">Add Read</button>
</script>


<script type="text/template" id="TransformationRuleView" xmlns="http://www.w3.org/1999/html">
    <div class="span5" style="width:510px;">
        <span class="control-group bv_group_transformationRule">
            <select class="bv_transformationRule" style="margin-right:10px;width:347px;display: inline-block;"></select>
        </span>
        <button class="close bv_deleteRule" style="margin-right:130px;margin-top:3px;">&times;</button>
    </div>
</script>

<script type="text/template" id="TransformationRuleListView" xmlns="http://www.w3.org/1999/html">
<span class="bv_transformationInfo pull-right"></span>
<button class="btn bv_addTransformationButton" style="margin-left:388px;">Add Transformation</button>
</script>
