.bv_gidMainNavbar {
	margin-top: -60px !important;
}

.bv_gidACASBadge {
	margin-bottom: 5px;
}

.bv_searchForm {
	margin-bottom: 0px !important;
}

.bv_search {
	margin-top: 0px !important;
}

.gidNavWellBottom {
	margin-bottom: 0px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.gidNavWellTop {
	margin-top: 40px !important;
	margin-bottom: 0px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.bv_gidACASBadgeTop {
	padding-right: 10px;
}

.bv_gidNavHelpButton {
	margin-top: 0px !important;
}

.bv_gidNavAdvancedSearchButton {
	margin-top: 0px !important;
}

.gidNavHelpButtonTop {
	margin-top: 0px !important;
}

.gidNavAdvancedSearchButtonTop {
	margin-top: 0px !important;
	margin-right: 5px;
}

.noResultsWell {
	padding-left: 20px;
	margin-top: 100px;
}

.resultsWell {
	margin-top: 100px !important;
}

.gidNamesHeader {
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #000000;
}