.bv_curveCurator .selected {
    border-width: 3px;
    border-style: solid;
    border-color: #696969;
}

.bv_curveCurator .bv_curveList .bv_curveSummaries {
    height: 684px;
    width: 265px;
    overflow-y: auto;
}

.bv_curveCurator .bv_curveSummary {
    width: 250px;
    height: 200px;
}


.bv_curveCurator .bv_curveEditor .bv_shinyContainer {
    height: 700px;
    min-width: 770px;
    border: none;
}