<script type="text/template" id="DoseResponseKiAnalysisParametersView" xmlns="http://www.w3.org/1999/html">

    <div class="bv_autofillSection"></div>
</script>

<script type="text/template" id="DoseResponseKiAnalysisParametersAutofillView" xmlns="http://www.w3.org/1999/html">

    <div class="well well-sm" style="padding:10px 10px 15px 10px;margin:0;background-color:#ffffff;max-width:650px;">
        <div class="form form-inline" style="margin-bottom:2px;">
            <strong class="bv_formTitle" style="font-size:14px;">Global Fit Criteria</strong>
            <input type="checkbox" class="bv_group_smartMode bv_smartMode" style="margin-right:3px;margin-left:8px;margin-bottom:2px;" <%if (smartMode){%>checked="checked"<%}%> />
            <label class="control-label bv_group_smartMode" style="margin-left:0px;font-size:13px;">Smart Mode</label>

            </div>

            <div class="well well-sm" style="padding:2px;background-color:#ffffff;margin-bottom:4px;">

                <div class="bv_group_max" style="margin-bottom:3px;">
                    <div class="form-inline">
                        <strong style="display:inline-block;width:50px;">Max:</strong>
                        <label class="radio-inline" style="margin-right:5px;width:55px;">
                            <input type="radio" name="bv_max_limitType" class="bv_max_limitType_none" value="none" <%if (max.limitType=="none"){%>checked="checked"<%}%> style="margin-right:3px;" /> None
                        </label>
                        <label class="radio-inline" style="margin-right:5px;width:45px;">
                            <input type="radio" name="bv_max_limitType" class="bv_max_limitType_pin" value="pin" <%if (max.limitType=="pin"){%>checked="checked"<%}%> style="margin-right:3px;" /> Pin
                        </label>
                        <label class="radio-inline" style="margin-right:5px;width:55px;">
                            <input type="radio" name="bv_max_limitType" class="bv_max_limitType_limit" value="limit" <%if (max.limitType=="limit"){%>checked="checked"<%}%> style="margin-right:3px;" /> Limit
                        </label>
                        <input type="text" class="form-control bv_max_value" style="width:45px;height:30px;display:inline-block;margin-left:5px;" value="<%- max.value%>" <% if (max.limitType=="none"){ %> disabled="disabled"<% }%> />
                    </div>
                </div>


                <div class="bv_group_min" style="margin-bottom:3px;">
                    <div class="form-inline">
                        <strong style="display:inline-block;width:50px;">Min:</strong>
                        <label class="radio-inline" style="margin-right:5px;width:55px;">
                            <input type="radio" name="bv_min_limitType" class="bv_min_limitType_none" value="none" <%if (min.limitType=="none"){%>checked="checked"<%}%> style="margin-right:3px;" /> None
                        </label>
                        <label class="radio-inline" style="margin-right:5px;width:45px;">
                            <input type="radio" name="bv_min_limitType" class="bv_min_limitType_pin" value="pin" <%if (min.limitType=="pin"){%>checked="checked"<%}%> style="margin-right:3px;" /> Pin
                        </label>
                        <label class="radio-inline" style="margin-right:5px;width:55px;">
                            <input type="radio" name="bv_min_limitType" class="bv_min_limitType_limit" value="limit" <%if (min.limitType=="limit"){%>checked="checked"<%}%> style="margin-right:3px;" /> Limit
                        </label>
                        <input type="text" class="form-control bv_min_value" style="width:45px;height:30px;display:inline-block;margin-left:5px;" value="<%- min.value%>" <% if (min.limitType=="none"){ %> disabled="disabled"<% }%> />
                    </div>
                </div>

                <div class="form-inline" style="margin-bottom:2px;">
                    <span class="form-group bv_group_kd_value" style="margin-right:10px;">
                        <strong style="margin-right:5px;">*Kd (nM):</strong><input type="text" class="form-control bv_kd_value" style="width:45px;height:30px;display:inline-block;" value="<%- kd.value%>" />
                    </span>
                    <span class="form-group bv_group_ligandConc_value">
                        <strong style="margin-right:5px;">*Ligand Conc. (nM):</strong><input type="text" class="form-control bv_ligandConc_value" style="width:45px;height:30px;display:inline-block;" value="<%- ligandConc.value%>" />
                    </span>
                </div>


            </div>

            <div class="row" style="margin-bottom:2px;">
                <div class="col-md-12">
                    <div class="checkbox" style="margin:0;display:inline-block;margin-right:15px;">
                        <label style="font-size:13px;">
                            <input type="checkbox" class="bv_inverseAgonistMode" <%if (inverseAgonistMode){%>checked="checked"<%}%> style="margin-right:5px;" /> Inverse Agonist Mode
                        </label>
                    </div>
                    <div class="checkbox" style="margin:0;display:inline-block;">
                        <label style="font-size:13px;">
                            <input type="checkbox" class="bv_inactiveThresholdMode" <%if (inactiveThresholdMode){%>checked="checked"<%}%> style="margin-right:5px;" /> Inactive Threshold
                        </label>
                    </div>
                </div>
            </div>
            <div class="bv_group_inactiveThreshold">
                <div class="row" style="margin:0;margin-top:8px;">
                    <div class="col-md-8" style="padding-top:10px;">
                        <div class="bv_inactiveThreshold" style="width:100%;"></div>
                    </div>
                    <div class="col-md-4" style="padding-left:5px;">
                        <div class="bv_inactiveThresholdDisplay well well-small" style="padding:5px 7px;width:45px;margin:0;"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</script>
