<script type="text/template" id="DoseResponseKmAnalysisParametersView" xmlns="http://www.w3.org/1999/html">

    <div class="bv_autofillSection"></div>
</script>

<script type="text/template" id="DoseResponseKmAnalysisParametersAutofillView" xmlns="http://www.w3.org/1999/html">

    <div class="well well-sm" style="padding:10px;margin:0;background-color:#ffffff;max-width:580px;">
        <div class="form form-inline" style="margin-bottom:2px;">
            <strong class="bv_formTitle" style="font-size:14px;">Global Fit Criteria</strong>
            <input type="checkbox" class="bv_group_smartMode bv_smartMode" style="margin-right:3px;margin-left:8px;margin-bottom:2px;" <%if (smartMode){%>checked="checked"<%}%> />
            <label class="control-label bv_group_smartMode" style="margin-left:0px;font-size:13px;">Smart Mode</label>

            </div>

            <div class="well well-sm" style="padding:2px;background-color:#ffffff;margin-bottom:4px;">

                <div class="bv_group_vmax" style="margin-bottom:3px;">
                    <div class="form-inline">
                        <strong style="display:inline-block;width:50px;">VMax:</strong>
                        <label class="radio-inline" style="margin-right:5px;width:55px;">
                            <input type="radio" name="bv_vmax_limitType" class="bv_vmax_limitType_none" value="none" <%if (vmax.limitType=="none"){%>checked="checked"<%}%> style="margin-right:3px;" /> None
                        </label>
                        <label class="radio-inline" style="margin-right:5px;width:45px;">
                            <input type="radio" name="bv_vmax_limitType" class="bv_vmax_limitType_pin" value="pin" <%if (vmax.limitType=="pin"){%>checked="checked"<%}%> style="margin-right:3px;" /> Pin
                        </label>
                        <label class="radio-inline" style="margin-right:5px;width:55px;">
                            <input type="radio" name="bv_vmax_limitType" class="bv_vmax_limitType_limit" value="limit" <%if (vmax.limitType=="limit"){%>checked="checked"<%}%> style="margin-right:3px;" /> Limit
                        </label>
                        <input type="text" class="form-control bv_vmax_value" style="width:45px;height:30px;display:inline-block;margin-left:5px;" value="<%- vmax.value%>" <% if (vmax.limitType=="none"){ %> disabled="disabled"<% }%> />
                    </div>
                </div>
                <div class="form-inline">
                    <span class="form-group bv_group_et_value">
                        <strong style="margin-left:0;display:inline-block;width:50px;">Et:</strong><input type="text" class="form-control bv_et_value" style="width:45px;height:30px;margin-left:5px;margin-bottom:0;display:inline-block;" value="<%- et.value%>" />
                    </span>
                </div>

            </div>
        <div class="row" style="margin-bottom:2px;">
            <div class="col-md-12">
                <div class="checkbox" style="margin:0;">
                    <label style="display:inline-block;width:120px;font-size:13px;">
                        <input type="checkbox" class="bv_inverseAgonistMode" <%if (inverseAgonistMode){%>checked="checked"<%}%> style="margin-right:5px;" /> Inverse Agonist
                    </label>
                </div>
            </div>
        </div>
            <div class="row" style="margin-bottom:0;">
                <div class="col-md-6 bv_group_inactiveThreshold">
                    <div class="form-group" style="margin:0;">
                        <label class="control-label" style="margin-right:5px;display:inline-block;width:65px;">Inactive:</label>
                        <input type="text" class="form-control bv_inactiveThreshold" style="width:45px;height:30px;display:inline-block;" value="<%- inactiveThreshold%>" />
                    </div>
                </div>
                <div class="col-md-6 bv_group_theoreticalMax">
                    <div class="form-group" style="margin:0;">
                        <label class="control-label" style="margin-right:5px;display:inline-block;width:65px;">Max:</label>
                        <input type="text" class="form-control bv_theoreticalMax" style="width:45px;height:30px;display:inline-block;" value="<%- theoreticalMax%>" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
