<script type="text/template" id="DoseResponseSubstrateInhibitionAnalysisParametersView" xmlns="http://www.w3.org/1999/html">

    <div class="bv_autofillSection"></div>
</script>

<script type="text/template" id="DoseResponseSubstrateInhibitionAnalysisParametersAutofillView" xmlns="http://www.w3.org/1999/html">

    <div class="span5" style="margin-left:0;">
        <div class="well well-small" style="margin-left:10px;margin-bottom:10px;width:350px;height:230px;background-color:#ffffff;">
            <div class="form form-inline" style="margin-bottom:5px;">
                <strong class="bv_formTitle" style="font-size:18px;">Global Fit Criteria</strong>
                <input type="checkbox" class="bv_group_smartMode bv_smartMode" style="margin-right:5px;margin-left:15px;margin-bottom:5px;" <%if (smartMode){%>checked="checked"<%}%> />
                <label class="control-label bv_group_smartMode" style="margin-left:0px;">Smart Mode</label>

            </div>

            <div class="well well-small" style="background-color:#ffffff;margin-bottom:10px;padding-right:0px!important;">

                <div class="bv_group_vmax" style="margin-bottom:10px;">
                    <div class="form form-inline">
                        <span style="margin-right:16px;"><strong>VMax:</strong></span>
                        <input type="radio" name="bv_vmax_limitType" class="bv_vmax_limitType_none" value="none" style="margin-right:5px;margin-bottom:5px;" <%if (vmax.limitType=="none"){%>checked="checked"<%}%>  />
                        <label class="control-label" style="margin-right:15px;">None</label>
                        <input type="radio" name="bv_vmax_limitType" class="bv_vmax_limitType_pin" value="pin" style="margin-right:5px;margin-bottom:5px;" <%if (vmax.limitType=="pin"){%>checked="checked"<%}%>  />
                        <label class="control-label" style="margin-right:15px;">Pin</label>
                        <input type="radio" name="bv_vmax_limitType" class="bv_vmax_limitType_limit" value="limit" style="margin-right:5px;margin-bottom:5px;" <%if (vmax.limitType=="limit"){%>checked="checked"<%}%>  />
                        <label class="control-label" style="margin-right:15px;">Limit</label>
                    <span class="control-group bv_group_vmax_value">
                        <input type="text" class=" bv_vmax_value" style="width:50px;" value="<%= vmax.value%>" <% if (vmax.limitType=="none"){ %> disabled="disabled"<% }%> />
                    </span>
                    </div>
                </div>
               <div class="bv_group_km" style="margin-bottom:10px;">
                    <div class="form form-inline">
                        <span style="margin-right:30px;"><strong>Km:</strong></span>
                        <input type="radio" name="bv_km_limitType" class="bv_km_limitType_none" value="none" style="margin-right:5px;margin-bottom:5px;" <%if (km.limitType=="none"){%>checked="checked"<%}%>  />
                        <label class="control-label" style="margin-right:15px;">None</label>
                        <input type="radio" name="bv_km_limitType" class="bv_km_limitType_pin" value="pin" style="margin-right:5px;margin-bottom:5px;" <%if (km.limitType=="pin"){%>checked="checked"<%}%>  />
                        <label class="control-label" style="margin-right:15px;">Pin</label>
                        <input type="radio" name="bv_km_limitType" class="bv_km_limitType_limit" value="limit" style="margin-right:5px;margin-bottom:5px;" <%if (km.limitType=="limit"){%>checked="checked"<%}%>  />
                        <label class="control-label" style="margin-right:15px;">Limit</label>
                    <span class="control-group bv_group_km_value">
                        <input type="text" class=" bv_km_value" style="width:50px;" value="<%= km.value%>" <% if (km.limitType=="none"){ %> disabled="disabled"<% }%> />
                    </span>
                    </div>
                </div>
               <div class="bv_group_ki" style="margin-bottom:10px;">
                    <div class="form form-inline">
                <span style="margin-right:39px;"><strong>Ki:</strong></span>
                <input type="radio" name="bv_ki_limitType" class="bv_ki_limitType_none" value="none" style="margin-right:5px;margin-bottom:5px;" <%if (ki.limitType=="none"){%>checked="checked"<%}%>  />
                <label class="control-label" style="margin-right:15px;">None</label>
                <input type="radio" name="bv_ki_limitType" class="bv_ki_limitType_pin" value="pin" style="margin-right:5px;margin-bottom:5px;" <%if (ki.limitType=="pin"){%>checked="checked"<%}%>  />
                <label class="control-label" style="margin-right:15px;">Pin</label>
                <input type="radio" name="bv_ki_limitType" class="bv_ki_limitType_limit" value="limit" style="margin-right:5px;margin-bottom:5px;" <%if (ki.limitType=="limit"){%>checked="checked"<%}%>  />
                <label class="control-label" style="margin-right:15px;">Limit</label>
                    <span class="control-group bv_group_ki_value">
                        <input type="text" class=" bv_ki_value" style="width:50px;" value="<%= ki.value%>" <% if (ki.limitType=="none"){ %> disabled="disabled"<% }%> />
                    </span>
            </div>
            </div>
                <div class="form form-inline">
                    <span class="control-group bv_group_et_value">
                        <strong style="margin-left:0;">Et</strong><input type="text" class="bv_et_value" style="width:50px;margin-left:5px;margin-bottom:0;" value="<%= et.value%>" />
                    </span>

                </div>

            </div>
            <div class="form form-inline hide" style="margin-bottom:5px;">
                <input type="checkbox" class="bv_inverseAgonistMode" style="margin-right:5px;margin-bottom:5px;" <%if (inverseAgonistMode){%>checked="checked"<%}%> />
                <span>Inverse Agonist Mode</span>
            </div>
            <div class="form form-inline hide">
                <div class="bv_group_inactiveThreshold span2" style="margin-left:0;width:175px;">
                    <label class="control-label" style="margin-right:5px;">Inactive Threshold</label>
                    <input type="text" class="bv_inactiveThreshold" style="width:35px;margin-bottom:0;" value="<%= inactiveThreshold%>" />
                </div>
                <div class="bv_group_theoreticalMax span2" style="margin-left:0;width:175px;">
                    <label class="control-label" style="margin-right:5px;margin-left:7px;">Theoretical Max</label>
                    <input type="text" class="bv_theoreticalMax" style="width:35px;margin-bottom:0;" value="<%= theoreticalMax%>" />
                </div>
            </div>

        </div>
    </div>
</script>
